openapi: 3.2.0
info:
  title: InstantPayments Outgoing Payments API
  version: v1
servers:
- url: https://cubi-sandbox-api.customersbank.com/InstantPayments/v1
tags:
- name: OutgoingPayments
paths:
  /outgoing:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing - POST
      description: "Initiates a new instant payment that will be delivered on either the FedNow or RTP rails.   The rail will be determined \nbased on the receiver bank's rail eligibilty among other factors."
      operationId: post-outgoing
      parameters:
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: 05c6f225-d90e-4449-a280-b3ae9924fdec
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.InitiatePaymentDto'
            example:
              amount: 0
              processDate: '2025-04-02T05:00:00+00:00'
              senderAccountNumber: string
              receiverRoutingNumber: string
              receiverAccountNumber: string
              receiverName: string
              receiverAddress1: string
              receiverAddress2: string
              receiverCity: string
              receiverState: string
              receiverZip: string
              receiverCountry: US
              description: string
          text/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.InitiatePaymentDto'
            example:
              amount: 0
              processDate: '2025-04-02T05:00:00+00:00'
              senderAccountNumber: string
              receiverRoutingNumber: string
              receiverAccountNumber: string
              receiverName: string
              receiverAddress1: string
              receiverAddress2: string
              receiverCity: string
              receiverState: string
              receiverZip: string
              receiverCountry: US
              description: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.InitiatePaymentDto'
            example:
              amount: 0
              processDate: '2025-04-02T05:00:00+00:00'
              senderAccountNumber: string
              receiverRoutingNumber: string
              receiverAccountNumber: string
              receiverName: string
              receiverAddress1: string
              receiverAddress2: string
              receiverCity: string
              receiverState: string
              receiverZip: string
              receiverCountry: US
              description: string
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.PaymentInitiatedDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.PaymentInitiatedDto'
              example:
                id: string
                rail: FedNow
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.PaymentInitiatedDto'
              example:
                id: string
                rail: FedNow
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
    get:
      tags:
      - OutgoingPayments
      summary: /outgoing - GET
      description: Searches for outgoing Instant Payments
      operationId: get-outgoing
      parameters:
      - name: fromDate
        in: query
        description: The start date from which to search
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        description: The end date for which to search
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: The status to search
        schema:
          $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingTransactionStatusDto'
      - name: accountId
        in: query
        description: The account ID for which to search
        schema:
          type: string
          format: uuid
      - name: paginateResults
        in: query
        schema:
          type: boolean
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        schema:
          type: integer
          format: int32
      - name: sortOn
        in: query
        schema:
          type: string
      - name: sortAscending
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingPaymentDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingPaymentDto'
              example:
                pageSize: 0
                pageOffset: 0
                totalPages: 0
                totalItemCount: 0
                items:
                - id: string
                  amount: 0
                  processDate: string
                  senderAccountNumber: string
                  paymentDate: string
                  deliveryDate: string
                  receiverRoutingNumber: string
                  receiverAccountNumber: string
                  receiverName: string
                  receiverAddress1: string
                  receiverAddress2: string
                  receiverCity: string
                  receiverState: string
                  receiverZip: string
                  receiverCountry: string
                  receiverBankName: string
                  receiverBankAddress1: string
                  receiverBankAddress2: string
                  receiverBankCity: string
                  receiverBankState: string
                  receiverBankZip: string
                  description: string
                  status: Initiated
                  submittedAt: string
                  cancelledAt: string
                  cancelledReason: string
                  completedAt: string
                  confirmationNumber: string
                  rail: FedNow
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingPaymentDto'
              example:
                pageSize: 0
                pageOffset: 0
                totalPages: 0
                totalItemCount: 0
                items:
                - id: string
                  amount: 0
                  processDate: string
                  senderAccountNumber: string
                  paymentDate: string
                  deliveryDate: string
                  receiverRoutingNumber: string
                  receiverAccountNumber: string
                  receiverName: string
                  receiverAddress1: string
                  receiverAddress2: string
                  receiverCity: string
                  receiverState: string
                  receiverZip: string
                  receiverCountry: string
                  receiverBankName: string
                  receiverBankAddress1: string
                  receiverBankAddress2: string
                  receiverBankCity: string
                  receiverBankState: string
                  receiverBankZip: string
                  description: string
                  status: Initiated
                  submittedAt: string
                  cancelledAt: string
                  cancelledReason: string
                  completedAt: string
                  confirmationNumber: string
                  rail: FedNow
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/rtp:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing/rtp - POST
      description: 'Initiates a payment on the RTP rail.  This method exists to allow for direct RTP initiation, however,

        in most cases it''s prefferable to use the rail agonistic POST /outgoing api to allow for rail flexibity

        when sending to the receiver bank.'
      operationId: post-outgoing-rtp
      parameters:
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: edfdcaaa-01c8-48d2-b9b8-5f1d9d5a3153
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.InitiateRtpDto'
            example:
              amount: 0
              processDate: '2025-04-02T05:00:00+00:00'
              senderAccountNumber: string
              receiverRoutingNumber: string
              receiverAccountNumber: string
              receiverName: string
              receiverAddress1: string
              receiverAddress2: string
              receiverCity: string
              receiverState: string
              receiverZip: string
              receiverCountry: US
              description: string
          text/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.InitiateRtpDto'
            example:
              amount: 0
              processDate: '2025-04-02T05:00:00+00:00'
              senderAccountNumber: string
              receiverRoutingNumber: string
              receiverAccountNumber: string
              receiverName: string
              receiverAddress1: string
              receiverAddress2: string
              receiverCity: string
              receiverState: string
              receiverZip: string
              receiverCountry: US
              description: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.InitiateRtpDto'
            example:
              amount: 0
              processDate: '2025-04-02T05:00:00+00:00'
              senderAccountNumber: string
              receiverRoutingNumber: string
              receiverAccountNumber: string
              receiverName: string
              receiverAddress1: string
              receiverAddress2: string
              receiverCity: string
              receiverState: string
              receiverZip: string
              receiverCountry: US
              description: string
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
    get:
      tags:
      - OutgoingPayments
      summary: /outgoing/rtp - GET
      description: Searches for outgoing RTPs
      operationId: get-outgoing-rtp
      parameters:
      - name: fromDate
        in: query
        description: The start date from which to search
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        description: The end date for which to search
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: The status to search
        schema:
          $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingTransactionStatusDto'
      - name: accountId
        in: query
        description: The account ID for which to search
        schema:
          type: string
          format: uuid
      - name: paginateResults
        in: query
        schema:
          type: boolean
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        schema:
          type: integer
          format: int32
      - name: sortOn
        in: query
        schema:
          type: string
      - name: sortAscending
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingRtpDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingRtpDto'
              example:
                pageSize: 0
                pageOffset: 0
                totalPages: 0
                totalItemCount: 0
                items:
                - id: string
                  amount: 0
                  processDate: string
                  senderAccountNumber: string
                  paymentDate: string
                  deliveryDate: string
                  receiverRoutingNumber: string
                  receiverAccountNumber: string
                  receiverName: string
                  receiverAddress1: string
                  receiverAddress2: string
                  receiverCity: string
                  receiverState: string
                  receiverZip: string
                  receiverCountry: string
                  receiverBankName: string
                  receiverBankAddress1: string
                  receiverBankAddress2: string
                  receiverBankCity: string
                  receiverBankState: string
                  receiverBankZip: string
                  description: string
                  status: Initiated
                  submittedAt: string
                  cancelledAt: string
                  cancelledReason: string
                  completedAt: string
                  confirmationNumber: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingRtpDto'
              example:
                pageSize: 0
                pageOffset: 0
                totalPages: 0
                totalItemCount: 0
                items:
                - id: string
                  amount: 0
                  processDate: string
                  senderAccountNumber: string
                  paymentDate: string
                  deliveryDate: string
                  receiverRoutingNumber: string
                  receiverAccountNumber: string
                  receiverName: string
                  receiverAddress1: string
                  receiverAddress2: string
                  receiverCity: string
                  receiverState: string
                  receiverZip: string
                  receiverCountry: string
                  receiverBankName: string
                  receiverBankAddress1: string
                  receiverBankAddress2: string
                  receiverBankCity: string
                  receiverBankState: string
                  receiverBankZip: string
                  description: string
                  status: Initiated
                  submittedAt: string
                  cancelledAt: string
                  cancelledReason: string
                  completedAt: string
                  confirmationNumber: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/fednow:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing/fednow - POST
      description: 'Initiates a payment on the FedNow rail.  This method exists to allow for direct FedNow initiation, however,

        in most cases it''s prefferable to use the rail agonistic POST /outgoing api to allow for rail flexibity

        when sending to the receiver bank.'
      operationId: post-outgoing-fednow
      parameters:
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: 1ccc8be2-1719-4a62-a135-41bbe2c6a10a
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.InitiateFedNowDto'
            example:
              amount: 0
              processDate: '2025-04-02T05:00:00+00:00'
              senderAccountNumber: string
              receiverRoutingNumber: string
              receiverAccountNumber: string
              receiverName: string
              receiverAddress1: string
              receiverAddress2: string
              receiverCity: string
              receiverState: string
              receiverZip: string
              receiverCountry: US
              description: string
          text/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.InitiateFedNowDto'
            example:
              amount: 0
              processDate: '2025-04-02T05:00:00+00:00'
              senderAccountNumber: string
              receiverRoutingNumber: string
              receiverAccountNumber: string
              receiverName: string
              receiverAddress1: string
              receiverAddress2: string
              receiverCity: string
              receiverState: string
              receiverZip: string
              receiverCountry: US
              description: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Initiate.InitiateFedNowDto'
            example:
              amount: 0
              processDate: '2025-04-02T05:00:00+00:00'
              senderAccountNumber: string
              receiverRoutingNumber: string
              receiverAccountNumber: string
              receiverName: string
              receiverAddress1: string
              receiverAddress2: string
              receiverCity: string
              receiverState: string
              receiverZip: string
              receiverCountry: US
              description: string
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
    get:
      tags:
      - OutgoingPayments
      summary: /outgoing/fednow - GET
      description: Searches for outgoing FedNow payments
      operationId: get-outgoing-fednow
      parameters:
      - name: fromDate
        in: query
        description: The start date from which to search
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        description: The end date for which to search
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: The status to search
        schema:
          $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingTransactionStatusDto'
      - name: accountId
        in: query
        description: The account ID for which to search
        schema:
          type: string
          format: uuid
      - name: paginateResults
        in: query
        schema:
          type: boolean
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        schema:
          type: integer
          format: int32
      - name: sortOn
        in: query
        schema:
          type: string
      - name: sortAscending
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingFedNowDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingFedNowDto'
              example:
                pageSize: 0
                pageOffset: 0
                totalPages: 0
                totalItemCount: 0
                items:
                - id: string
                  amount: 0
                  processDate: string
                  senderAccountNumber: string
                  paymentDate: string
                  deliveryDate: string
                  receiverRoutingNumber: string
                  receiverAccountNumber: string
                  receiverName: string
                  receiverAddress1: string
                  receiverAddress2: string
                  receiverCity: string
                  receiverState: string
                  receiverZip: string
                  receiverCountry: string
                  receiverBankName: string
                  receiverBankAddress1: string
                  receiverBankAddress2: string
                  receiverBankCity: string
                  receiverBankState: string
                  receiverBankZip: string
                  description: string
                  status: Initiated
                  submittedAt: string
                  cancelledAt: string
                  cancelledReason: string
                  completedAt: string
                  confirmationNumber: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingFedNowDto'
              example:
                pageSize: 0
                pageOffset: 0
                totalPages: 0
                totalItemCount: 0
                items:
                - id: string
                  amount: 0
                  processDate: string
                  senderAccountNumber: string
                  paymentDate: string
                  deliveryDate: string
                  receiverRoutingNumber: string
                  receiverAccountNumber: string
                  receiverName: string
                  receiverAddress1: string
                  receiverAddress2: string
                  receiverCity: string
                  receiverState: string
                  receiverZip: string
                  receiverCountry: string
                  receiverBankName: string
                  receiverBankAddress1: string
                  receiverBankAddress2: string
                  receiverBankCity: string
                  receiverBankState: string
                  receiverBankZip: string
                  description: string
                  status: Initiated
                  submittedAt: string
                  cancelledAt: string
                  cancelledReason: string
                  completedAt: string
                  confirmationNumber: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/{id}:
    get:
      tags:
      - OutgoingPayments
      summary: /outgoing/{id} - GET
      description: Retrieves an existing instant payment
      operationId: get-outgoing-id
      parameters:
      - name: id
        in: path
        description: The ID (uuid) of the payment to retreive
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingPaymentDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingPaymentDto'
              example:
                id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
                rail: FedNow
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingPaymentDto'
              example:
                id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
                rail: FedNow
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/{id}/cancel:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing/{id}/cancel - POST
      description: Cancels an existing payment
      operationId: post-outgoing-id-cancel
      parameters:
      - name: id
        in: path
        description: The ID (uuid) of the payment to retreive
        required: true
        schema:
          type: string
          format: uuid
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: 48d8fc4f-bace-44a0-a3c8-8a26c366938a
      requestBody:
        description: Cancellation details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Cancel.CancelPaymentDto'
            example:
              reason: string
          text/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Cancel.CancelPaymentDto'
            example:
              reason: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Cancel.CancelPaymentDto'
            example:
              reason: string
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/rtp/{id}:
    get:
      tags:
      - OutgoingPayments
      summary: /outgoing/rtp/{id} - GET
      description: Retrieves an existing RTP
      operationId: get-outgoing-rtp-id
      parameters:
      - name: id
        in: path
        description: The ID (uuid) of the payment to retreive
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingRtpDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingRtpDto'
              example:
                id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingRtpDto'
              example:
                id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/rtp/{id}/cancel:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing/rtp/{id}/cancel - POST
      description: Cancels an existing RTP payment
      operationId: post-outgoing-rtp-id-cancel
      parameters:
      - name: id
        in: path
        description: The ID (uuid) of the payment to retreive
        required: true
        schema:
          type: string
          format: uuid
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: 987f837f-6eb3-4bd0-8c12-c3980dea8722
      requestBody:
        description: Cancellation details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Cancel.CancelRtpDto'
            example:
              reason: string
          text/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Cancel.CancelRtpDto'
            example:
              reason: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Cancel.CancelRtpDto'
            example:
              reason: string
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/fednow/{id}:
    get:
      tags:
      - OutgoingPayments
      summary: /outgoing/fednow/{id} - GET
      description: Retrieves an existing FedNow payment
      operationId: get-outgoing-fednow-id
      parameters:
      - name: id
        in: path
        description: The ID (uuid) of the payment to retreive
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingFedNowDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingFedNowDto'
              example:
                id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingFedNowDto'
              example:
                id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/fednow/{id}/cancel:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing/fednow/{id}/cancel - POST
      description: Cancels an existing FedNow payment
      operationId: post-outgoing-fednow-id-cancel
      parameters:
      - name: id
        in: path
        description: The ID (uuid) of the payment to retreive
        required: true
        schema:
          type: string
          format: uuid
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: 131aa893-b7d7-4e80-b10b-9a71a29ea881
      requestBody:
        description: Cancellation details
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Cancel.CancelFedNowDto'
            example:
              reason: string
          text/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Cancel.CancelFedNowDto'
            example:
              reason: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.Cancel.CancelFedNowDto'
            example:
              reason: string
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/rtp/download:
    get:
      tags:
      - OutgoingPayments
      summary: /outgoing/rtp/download - GET
      description: Downloads all sent Rtp transactions
      operationId: get-outgoing-rtp-download
      parameters:
      - name: fromDate
        in: query
        description: The start date from which to search
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        description: The end date for which to search
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: The status to search
        schema:
          $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingTransactionStatusDto'
      - name: accountId
        in: query
        description: The account ID for which to search
        schema:
          type: string
          format: uuid
      - name: paginateResults
        in: query
        schema:
          type: boolean
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        schema:
          type: integer
          format: int32
      - name: sortOn
        in: query
        schema:
          type: string
      - name: sortAscending
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingRtpDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingRtpDto'
              example:
              - id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingRtpDto'
              example:
              - id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/fednow/download:
    get:
      tags:
      - OutgoingPayments
      summary: /outgoing/fednow/download - GET
      description: Downloads all sent FedNow transactions
      operationId: get-outgoing-fednow-download
      parameters:
      - name: fromDate
        in: query
        description: The start date from which to search
        schema:
          type: string
          format: date-time
      - name: toDate
        in: query
        description: The end date for which to search
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: The status to search
        schema:
          $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingTransactionStatusDto'
      - name: accountId
        in: query
        description: The account ID for which to search
        schema:
          type: string
          format: uuid
      - name: paginateResults
        in: query
        schema:
          type: boolean
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        schema:
          type: integer
          format: int32
      - name: sortOn
        in: query
        schema:
          type: string
      - name: sortAscending
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingFedNowDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingFedNowDto'
              example:
              - id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingFedNowDto'
              example:
              - id: string
                amount: 0
                processDate: string
                senderAccountNumber: string
                paymentDate: string
                deliveryDate: string
                receiverRoutingNumber: string
                receiverAccountNumber: string
                receiverName: string
                receiverAddress1: string
                receiverAddress2: string
                receiverCity: string
                receiverState: string
                receiverZip: string
                receiverCountry: string
                receiverBankName: string
                receiverBankAddress1: string
                receiverBankAddress2: string
                receiverBankCity: string
                receiverBankState: string
                receiverBankZip: string
                description: string
                status: Initiated
                submittedAt: string
                cancelledAt: string
                cancelledReason: string
                completedAt: string
                confirmationNumber: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/rtp/{id}/approve:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing/rtp/{id}/approve - POST
      description: Approves a pending outgoing payment
      operationId: post-outgoing-rtp-id-approve
      parameters:
      - name: id
        in: path
        description: The ID of the payment to approve
        required: true
        schema:
          type: string
          format: uuid
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: 44c4b4f3-ffd7-4bd5-9fca-c13ed091e9ab
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/fednow/{id}/approve:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing/fednow/{id}/approve - POST
      description: Approves a pending outgoing payment
      operationId: post-outgoing-fednow-id-approve
      parameters:
      - name: id
        in: path
        description: The ID of the payment to approve
        required: true
        schema:
          type: string
          format: uuid
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: 4ca13e4b-4239-4eb5-93c7-753119c25346
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/rtp/{id}/decline:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing/rtp/{id}/decline - POST
      description: Declines a payment which is pending approval
      operationId: post-outgoing-rtp-id-decline
      parameters:
      - name: id
        in: path
        description: The ID of the payment to decline
        required: true
        schema:
          type: string
          format: uuid
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: eb1141c8-f3d5-4679-bf50-dd2490625682
      requestBody:
        description: Details on the decline operation, such as reason
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.DeclineOutgoingRtpDto'
            example:
              reason: string
          text/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.DeclineOutgoingRtpDto'
            example:
              reason: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.DeclineOutgoingRtpDto'
            example:
              reason: string
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
  /outgoing/fednow/{id}/decline:
    post:
      tags:
      - OutgoingPayments
      summary: /outgoing/fednow/{id}/decline - POST
      description: Declines a payment which is pending approval
      operationId: post-outgoing-fednow-id-decline
      parameters:
      - name: id
        in: path
        description: The ID of the payment to decline
        required: true
        schema:
          type: string
          format: uuid
      - name: x-idempotency-key
        in: header
        description: Unique request idenitfier for idempotency.
        required: true
        schema:
          type: string
          format: uuid
        example: b50777ee-6e52-4f07-b48b-73e1d3d9c903
      requestBody:
        description: Details on the decline operation, such as reason
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.DeclineOutgoingFedNowDto'
            example:
              reason: string
          text/json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.DeclineOutgoingFedNowDto'
            example:
              reason: string
          application/*+json:
            schema:
              $ref: '#/components/schemas/Cubi.InstantPayments.WebApi.Dto.DeclineOutgoingFedNowDto'
            example:
              reason: string
      responses:
        '202':
          description: Accepted
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid'
              example:
                id: string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
components:
  schemas:
    Cubi.InstantPayments.WebApi.Dto.Outgoing.OutgoingPaymentDto:
      required:
      - receiverAccountNumber
      - receiverName
      - receiverRoutingNumber
      - senderAccountNumber
      - submittedAt
      type: object
      properties:
        id:
          type: string
          description: The ID of the Payment
          format: uuid
        amount:
          type: number
          description: The amount of the Payment
          format: double
        processDate:
          type: string
          description: 'Process date, either specified at the time the payment request was submitted or if not specified,

            the request was processed at submission.'
          format: date-time
        senderAccountNumber:
          type: string
          description: The account number for which the payment was sent from
        paymentDate:
          type:
          - string
          - 'null'
          description: The date the payment was intended to be delivered
          format: date-time
        deliveryDate:
          type:
          - string
          - 'null'
          description: The date the payment was actually delivered
          format: date-time
        receiverRoutingNumber:
          type: string
          description: The routing number of the receiver
        receiverAccountNumber:
          type: string
          description: The account number of the receiver
        receiverName:
          type: string
          description: The full name of the receiver
        receiverAddress1:
          type:
          - string
          - 'null'
          description: The address of the receiver
        receiverAddress2:
          type:
[...]
