openapi: 3.2.0
info:
  title: Webhooks Event Types API
  version: v1
servers:
- url: https://cubi-sandbox-api.customersbank.com/webhooks/v1
tags:
- name: EventTypes
paths:
  /EventTypes:
    get:
      tags:
      - EventTypes
      summary: /EventTypes - GET
      operationId: get-eventtypes
      parameters:
      - name: paginateResults
        in: query
        schema:
          type: boolean
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        schema:
          type: integer
          format: int32
      - name: sortOn
        in: query
        schema:
          type: string
      - name: sortAscending
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_System.String'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_System.String'
              example:
                pageSize: 0
                pageOffset: 0
                totalPages: 0
                totalItemCount: 0
                items:
                - string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Common.Abstractions.Paginated_System.String'
              example:
                pageSize: 0
                pageOffset: 0
                totalPages: 0
                totalItemCount: 0
                items:
                - string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
      callbacks:
        ach.incoming-received:
          /:
            post:
              summary: This indicates that an incoming ach payment was received
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ach.incoming-received'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        ach.outgoing-accepted:
          /:
            post:
              summary: This indicates that an outgoing ach payment was accepted by the payment processor
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ach.outgoing-accepted'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        ach.outgoing-approval-denied:
          /:
            post:
              summary: This indicates that an outgoing ach payment was denied by the dual approver
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ach.outgoing-approval-denied'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        ach.outgoing-approval-required:
          /:
            post:
              summary: This indicates that an outgoing ach payment requires a dual approver
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ach.outgoing-approval-required'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        ach.outgoing-cancelled:
          /:
            post:
              summary: This indicates that an outgoing ach payment has been cancelled
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ach.outgoing-cancelled'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        ach.outgoing-completed:
          /:
            post:
              summary: This indicates that an outgoing ach payment has been completed
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ach.outgoing-completed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        ach.outgoing-initiated:
          /:
            post:
              summary: This indicates that an outgoing ach payment has been initiated
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ach.outgoing-initiated'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        ach.outgoing-pending:
          /:
            post:
              summary: This indicates that an outgoing ach payment has been sent to the payment processor and is no longer cancellable
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ach.outgoing-pending'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        ach.outgoing-returned:
          /:
            post:
              summary: This indicates that an outgoing ach payment has been returned
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/ach.outgoing-returned'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loan-cancellationfailed:
          /:
            post:
              summary: This indicates that a loan cancellation request failed
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loan-cancellationfailed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loan-cancelled:
          /:
            post:
              summary: This indicates that a loan has been cancelled
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loan-cancelled'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loan-completed:
          /:
            post:
              summary: This indicates that a loan has been completed
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loan-completed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loan-created:
          /:
            post:
              summary: This indicates that a loan was created from a successful application
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loan-created'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loan-disbursementdateset:
          /:
            post:
              summary: This indicates that the disbursement date of a loan has been set. This webhook will only be raised one time for each loan. The webhook is raised when the first funding instruction for a loan is sent to a payment rail since this is when the funding of a loan is considered irrevocable.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loan-disbursementdateset'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loan-maturitydateset:
          /:
            post:
              summary: This indicates that the maturity date of a loan has been set. This webhook will only be raised one time for each loan. The webhook is raised when the first funding instruction for a loan is sent to a payment rail since this is when the funding of a loan is considered irrevocable.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loan-maturitydateset'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loan-pendingcompletion:
          /:
            post:
              summary: This indicates that a request to complete a loan has been made, and that it is being processed. The change to a completed status will occur once all open funding requests have been successfully processed.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loan-pendingcompletion'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loan-reopened:
          /:
            post:
              summary: This indicates that a loan's status has been changed to Open
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loan-reopened'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanapplication-approved:
          /:
            post:
              summary: This indicates that a loan application has been processed by the API and that it has passed all of the credit policy approval rules.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanapplication-approved'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanapplication-created:
          /:
            post:
              summary: This indicates that a loan application has been successfully saved to the system
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanapplication-created'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanapplication-creditpolicycheckfailed:
          /:
            post:
              summary: This indicates that a loan application has been processed by the API and that it failed one or more of the credit policy checks.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanapplication-creditpolicycheckfailed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanapplication-partnercanceledcreated:
          /:
            post:
              summary: This indicates that a partner canceled loan application has been successfully saved to the system
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanapplication-partnercanceledcreated'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanapplication-partnerdeclinedcreated:
          /:
            post:
              summary: This indicates that a partner declined loan application has been successfully saved to the system
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanapplication-partnerdeclinedcreated'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanapplication-partnerrejectedcreated:
          /:
            post:
              summary: This indicates that a partner rejected loan application has been successfully saved to the system
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanapplication-partnerrejectedcreated'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanapplication-received:
          /:
            post:
              summary: This indicates that a loan application was received by the api with a HttpCode 202 (Accepted) returned
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanapplication-received'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanapplication-rejected:
          /:
            post:
              summary: This indicates that a loan application has been rejected at some point after the API accepted it, but before the credit policy approval rules were checked.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanapplication-rejected'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-failed:
          /:
            post:
              summary: This indicates that a funding request failed while being processed
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-failed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-fundingsenttorail:
          /:
            post:
              summary: This indicates that a funding request was sent to the payment rail for processing
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-fundingsenttorail'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-railcancelled:
          /:
            post:
              summary: This indicates that the payment rail has cancelled the funding request
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-railcancelled'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-railcompleted:
          /:
            post:
              summary: This indicates that the payment rail has completed processing of the funding request
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-railcompleted'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-railpending:
          /:
            post:
              summary: This indicates that a funding request has been received by the payment rail and is pending processing
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-railpending'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-railreturned:
          /:
            post:
              summary: This indicates that the funding instruction has been returned to the payment rail by the receiving bank
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-railreturned'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-rejected:
          /:
            post:
              summary: This indicates that a funding request was rejected before being processed
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-rejected'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-rollingwindowlimitexceeded:
          /:
            post:
              summary: This indicates that the rolling funding limit for the partner program the loan is assigned to has been exceeded for the current time window.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-rollingwindowlimitexceeded'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-rollingwindowlimitwarning:
          /:
            post:
              summary: This indicates that the rolling funding limit for the partner program the loan is assigned to is nearing the maximum allowed during the current time window.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-rollingwindowlimitwarning'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        consumerlending.loanfunding-validationpassed:
          /:
            post:
              summary: This indicates that a funding request passed all the necessary validation to be processed
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/consumerlending.loanfunding-validationpassed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.incoming-received:
          /:
            post:
              summary: This indicates that an incoming fed now payment has been received.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.incoming-received'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.outgoing-accepted:
          /:
            post:
              summary: This indicates that an outgoing fednow payment has been accepted.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.outgoing-accepted'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.outgoing-approval-denied:
          /:
            post:
              summary: This indicates that an outgoing fednow payment was denied by the dual approver
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.outgoing-approval-denied'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.outgoing-approval-required:
          /:
            post:
              summary: This indicates that an outgoing fednow payment requires approval by the dual approver
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.outgoing-approval-required'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.outgoing-approved:
          /:
            post:
              summary: This indicates that an outgoing fednow payment was approved by the dual approver
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.outgoing-approved'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.outgoing-cancelled:
          /:
            post:
              summary: This indicates that an outgoing fednow payment has been cancelled.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.outgoing-cancelled'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.outgoing-completed:
          /:
            post:
              summary: This indicates that an outgoing fednow payment has been completed.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.outgoing-completed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.outgoing-initiated:
          /:
            post:
              summary: This indicates that an outgoing fednow payment has been initiated.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.outgoing-initiated'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.outgoing-pending:
          /:
            post:
              summary: This indicates that an outgoing fednow payment is pending.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.outgoing-pending'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        fednow.outgoing-reversal:
          /:
            post:
              summary: This indicates that an outgoing fednow payment has been reversed.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/fednow.outgoing-reversal'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        partner.supportcasecreated:
          /:
            post:
              summary: This indicates that a support case has been created
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/partner.supportcasecreated'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.incoming-received:
          /:
            post:
              summary: This indicates that an incoming rtp payment has been received.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.incoming-received'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.outgoing-accepted:
          /:
            post:
              summary: This indicates that an outgoing rtp has been accepted.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.outgoing-accepted'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.outgoing-approval-denied:
          /:
            post:
              summary: This indicates that an outgoing rtp payment was denied by the dual approver
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.outgoing-approval-denied'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.outgoing-approval-required:
          /:
            post:
              summary: This indicates that an outgoing rtp payment requires approval by the dual approver
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.outgoing-approval-required'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.outgoing-approved:
          /:
            post:
              summary: This indicates that an outgoing rtp payment was approved by the dual approver
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.outgoing-approved'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.outgoing-cancelled:
          /:
            post:
              summary: This indicates that an outgoing rtp payment has been cancelled.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.outgoing-cancelled'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.outgoing-completed:
          /:
            post:
              summary: This indicates that an outgoing rtp payment has been completed.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.outgoing-completed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.outgoing-initiated:
          /:
            post:
              summary: This indicates that an outgoing rtp payment has been initiated.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.outgoing-initiated'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.outgoing-pending:
          /:
            post:
              summary: This indicates that an outgoing rtp payment is pending.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.outgoing-pending'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        rtp.outgoing-reversal:
          /:
            post:
              summary: This indicates that an outgoing rtp payment has been reversed.
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/rtp.outgoing-reversal'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.account-link-approved:
          /:
            post:
              summary: This indicates that an Account Link Request was approved by the receiving Client
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.account-link-approved'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.account-link-declined:
          /:
            post:
              summary: This indicates that the receiving Client declined an Account Link Request
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.account-link-declined'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.account-link-removed:
          /:
            post:
              summary: This indicates that an Account Link was removed
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.account-link-removed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.addressbook-entry-incoming-request:
          /:
            post:
              summary: This indicates that another Client has requested an Account Link with one of your accounts
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.addressbook-entry-incoming-request'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.book-approved:
          /:
            post:
              summary: Indicates that a Book Transfer for a dual approval account was approved
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.book-approved'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.book-completed:
          /:
            post:
              summary: Indicates that a sent Book Transfer has been posted to the core and reached Completed status
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.book-completed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.book-declined:
          /:
            post:
              summary: Indicates that a Book Transfer from a dual control account was declined
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.book-declined'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.book-initiated:
          /:
            post:
              summary: Indicates that a Book Transfer was initiated
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.book-initiated'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.book-received:
          /:
            post:
              summary: Indicates that a Book Transfer has been received from another Client
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.book-received'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.book-rejected:
          /:
            post:
              summary: Indicates that a sent Book Transfer failed to post and was Rejected
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.book-rejected'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        transfers.book-requires-approval:
          /:
            post:
              summary: Indicates that a Book Transfer from a dual approval account requires approval
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/transfers.book-requires-approval'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        wires.incoming-received:
          /:
            post:
              summary: This indicates that an incoming wire payment was received
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/wires.incoming-received'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        wires.outgoing-accepted:
          /:
            post:
              summary: This indicates that an outgoing wire payment was accepted by the payment processor
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/wires.outgoing-accepted'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        wires.outgoing-approval-denied:
          /:
            post:
              summary: This indicates that an outgoing wire payment was denied by the dual approver
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/wires.outgoing-approval-denied'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        wires.outgoing-cancelled:
          /:
            post:
              summary: This indicates that an outgoing wire payment was cancelled
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/wires.outgoing-cancelled'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
        wires.outgoing-fee-completed:
          /:
            post:
              summary: This indicates that a fee was applied for an outgoing wire payment
              requestBody:
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/wires.outgoing-fee-completed'
              responses:
                '200':
                  description: Your server implementation should return this HTTP status code if the data was received successfully
                '400':
                  description: (4xx) If your server returns any HTTP status code indicating it does not understand the format of the payload the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
                '500':
                  description: (5xx) If your server returns any HTTP status code indicating a server-side error the delivery will be treated as a failure. Delivery will be attempted up to 5 times.
  /EventTypes/download:
    get:
      tags:
      - EventTypes
      summary: /EventTypes/download - GET
      operationId: get-eventtypes-download
      parameters:
      - name: paginateResults
        in: query
        schema:
          type: boolean
      - name: page
        in: query
        schema:
          type: integer
          format: int32
      - name: perPage
        in: query
        schema:
          type: integer
          format: int32
      - name: sortOn
        in: query
        schema:
          type: string
      - name: sortAscending
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: array
                items:
                  type: string
              examples:
                default:
                  value: null
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - string
            text/json:
              schema:
                type: array
                items:
                  type: string
              example:
              - string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '404':
          description: NotFound
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.5
                title: Not Found
                status: 404
                traceId: string
        '422':
          description: UnprocessableEntity
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc4918#section-11.2
                title: Unprocessable Entity
                status: 422
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
components:
  schemas:
    wires.outgoing-approval-denied:
      required:
      - accountNumber
      type: object
      properties:
        transactionId:
          type: string
          description: The ID of the payment
          format: uuid
        accountNumber:
          type: string
          description: The account number from which the payment originates
        amount:
          type: number
          description: The amount of the payment
          format: double
      additionalProperties: false
      description: ''
    ach.outgoing-approval-required:
      required:
      - creditAccountNumber
      - creditRoutingNumber
      - debitAccountNumber
      - debitRoutingNumber
      type: object
      properties:
        id:
          type: string
          description: The ID of the payment
          format: uuid
        amount:
          type: number
          description: The amount of the payment
          format: double
        creditAccountNumber:
          type: string
          description: The account number which was credited
        creditRoutingNumber:
          type: string
          description: The routing number of the FI which was credited
        debitAccountNumber:
          type: string
          description: The account number which was debited
        debitRoutingNumber:
          type: string
          description: The routing number of the FI which was debited
      additionalProperties: false
      description: ''
    fednow.outgoing-reversal:
      type: object
      properties:
        id:
          type: string
          description: Id of outgoing fednow transaction that was reversed
          format: uuid
        originalTransactionId:
          type: string
          description: Id of outgoing fednow transaction that was reversed
          format: uuid
        amount:
          type: number
          description: Amount of outgoing transaction
          format: double
        receiverAccountNumber:
          type: string
          description: Reciever account number for transcation
        senderAccountNumber:
          type: string
          description: Sender account number for transcation
      additionalProperties: false
      description: ''
    transfers.book-received:
      type: object
      properties:
        id:
          type: string
          description: ID of the Book Transfer
          format: uuid
        amount:
          type: number
          description: Amount of the Book Transfer
          format: double
        sendingAccountName:
          type: string
          description: Account from which the Book Transfer was sent
        receivingAccountName:
          type: string
          description: Account to which the Book Transfer was sent
      additionalProperties: false
      description: ''
    consumerlending.loanapplication-partnercanceledcreated:
      type: object
      properties:
        applicationId:
          type: string
          description: The id assigned to the partner canceled application that was created
          format: uuid
      additionalProperties: false
      description: ''
    rtp.outgoing-approval-denied:
      required:
      - accountNumber
      type: object
      properties:
        transactionId:
          type: string
          description: The ID of the payment
          format: uuid
        accountNumber:
          type: string
          description: The account number from which the payment originates
        amount:
          type: number
          description: The amount of the payment
          format: double
      additionalProperties: false
      description: ''
    consumerlending.loan-pendingcompletion:
      type: object
      properties:
        loanId:
          type: string
          description: The id of the loan that was put in a PendingCompletion status
          format: uuid
      additionalProperties: false
      description: ''
    ach.outgoing-returned:
      required:
      - creditAccountNumber
      - creditRoutingNumber
      - debitAccountNumber
      - debitRoutingNumber
      type: object
      properties:
        id:
          type: string
          description: The ID of the payment
          format: uuid
        amount:
          type: number
          description: The amount of the payment
          format: double
        creditAccountNumber:
          type: string
          description: The account number which was credited
        creditRoutingNumber:
          type: string
          description: The routing number of the FI which was credited
        debitAccountNumber:
          type: string
          description: The account number which was debited
        debitRoutingNumber:
          type: string
          description: The routing number of the FI which was debited
        returnCode:
          type:
          - string
          - 'null'
          description: The return code used for the return
        returnedAt:
          type:
          - string
          - 'null'
          description: The timestamp of the return
          format: date-time
      additionalProperties: false
      description: ''
    transfers.book-rejected:
      type: object
      properties:
        id:
          type: string
          description: ID of the Book Transfer
          format: uuid
      additionalProperties: false
      description: ''
    fednow.outgoing-initiated:
      type: object
      properties:
        id:
          type: string
          description: Id of outgoing fed now transaction that was initiated
          format: uuid
        amount:
          type: number
          description: Amount of outgoing transaction
          format: double
        accountNumber:
          type: string
          description: Account number for transcation
      additionalProperties: false
      description: ''
    ach.outgoing-cancelled:
      required:
      - cancelledReasons
      - creditAccountNumber
      - creditRoutingNumber
      - debitAccountNumber
      - debitRoutingNumber
      type: object
      properties:
        id:
          type: string
          description: The ID of the payment
          format: uuid
        amount:
          type: number
          description: The amount of the payment
          format: double
        creditAccountNumber:
          type: string
          description: The account number which was credited
        creditRoutingNumber:
          type: string
          description: The routing number of the FI which was credited
        debitAccountNumber:
          type: string
          description: The account number which was debited
        debitRoutingNumber:
          type: string
          description: The routing number of the FI which was debited
        cancelledAt:
          type: string
          description: The time at which the payment was cancelled
          format: date-time
        cancelledReasons:
          type: array
          items:
            type: string
          description: The reason for cancellation, if the payment is in a cancelled status
      additionalProperties: false
      description: ''
    ach.outgoing-completed:
      required:
      - creditAccountNumber
      - creditRoutingNumber
      - debitAccountNumber
      - debitRoutingNumber
      type: object
      properties:
        id:
          type: string
          description: The ID of the payment
          format: uuid
        amount:
          type: number
          description: The amount of the payment
          format: double
        creditAccountNumber:
          type: string
          description: The account number which was credited
        creditRoutingNumber:
          type: string
          description: The routing number of the FI which was credited
        debitAccountNumber:
          type: string
          description: The account number which was debited
        debitRoutingNumber:
          type: string
          description: The routing number of the FI which was debited
        completedAt:
          type: string
          description: The timestamp (UTC) at which the payment was completed
          format: date-time
      additionalProperties: false
      description: ''
    wires.incoming-received:
      required:
      - accountNumber
      - imad
      - omad
      - originatorName
      type: object
      properties:
        id:
          type: string
          description: The ID of the payment
          format: uuid
        accountNumber:
          type: string
          description: The account number to which the payment was credited
        imad:
          type: string
          description: The IMAD of the payment
        omad:
          type: string
          description: The OMAD of the payment
        amount:
          type: number
          description: The amount of the payment
          format: double
        isReturn:
          type: boolean
          description: A boolean indicator for whether this payment was a return
        notes:
          type:
          - string
          - 'null'
          description: The notes (OBI) on the payment
        originatorName:
          type: string
          description: The originator name for the payment
      additionalProperties: false
      description: ''
    transfers.account-link-removed:
      type: object
      properties:
        id:
          type: string
          description: ID of Account Link that was removed
          format: uuid
      additionalProperties: false
      description: ''
    rtp.outgoing-cancelled:
      type: object
      properties:
        id:
          type: string
          description: Id of outgoing rtp transaction that was cancelled
          format: uuid
        amount:
          type: number
          description: Amount of outgoing transaction
          format: double
        accountNumber:
          type: string
          description: Account number for transcation
        cancelledAt:
          type: string
          description: Date and time the transaction was cancelled at in UTC
          format: date-time
        cancelledReason:
          type: string
          description: Reason the transaction was cancelled
      additionalProperties: false
      description: ''
    consumerlending.loanapplication-created:
      type: object
      properties:
        applicationId:
          type: string
          description: The id assigned to the application that was created
          format: uuid
      additionalProperties: false
      description: ''
    fednow.outgoing-approval-denied:
      required:
      - accountNumber
      type: object
      properties:
        transactionId:
          type: string
          description: The ID of the payment
          format: uuid
        accountNumber:
          type: string
          description: The account number from which the payment originates
        amount:
          type: number
          description: The amount of the payment
          format: double
      additionalProperties: false
      description: ''
    consumerlending.loanapplication-partnerdeclinedcreated:
      type: object
      properties:
        applicationId:
          type: string
          description: The id assigned to the partner declined application that was created
          format: uuid
      additionalProperties: false
      description: ''
    wires.outgoing-cancelled:
      required:
      - accountNumber
      - beneficiary
      type: object
      properties:
        transactionId:
          type: string
          description: The ID of the payment
          format: uuid
        accountNumber:
          type: string
          description: The account number from which the payment originates
        amount:
          type: number
          description: The amount of the payment
          format: double
        beneficiary:
          type: string
          description: The intended beneficiary for the payment
        processDate:
          type: string
          description: The intended process date for the payment
          format: date-time
        notes:
          type:
          - string
          - 'null'
          description: The notes (OBI) on the payment
        reason:
          type:
          - string
          - 'null'
          description: The reason for cancellation
        cancelledAt:
          type: string
          description: The timestamp at which cancellation occured
          format: date-time
      additionalProperties: false
      description: ''
    wires.outgoing-accepted:
      required:
      - accountNumber
      - beneficiary
      type: object
      properties:
        transactionId:
          type: string
          description: The ID of the payment
          format: uuid
        accountNumber:
          type: string
          description: The account number from which the payment originates
        amount:
          type: number
          description: The amount of the payment
          format: double
        beneficiary:
          type: string
          description: The intended beneficiary for the payment
        processDate:
          type: string
          description: The intended process date for the payment
          format: date-time
        notes:
          type:
          - string
          - 'null'
          description: The notes (OBI) on the payment
      additionalProperties: false
      description: ''
    rtp.incoming-received:
      type: object
      properties:
        id:
          type: string
          description: Id of incoming rtp transaction that was initiated
          format: uuid
        amount:
          type: number
          description: Amount of incoming transaction
          format: double
        accountNumber:
          type: string
          description: Account number for transcation
        senderName:
          type: string
          description: Sender name
        senderBankName:
          type: string
          description: Sender account name
      additionalProperties: false
      description: ''
    transfers.book-requires-approval:
      type: object
      properties:
        id:
          type: string
          description: ID of the Book Transfer
          format: uuid
      additionalProperties: false
      description: ''
    consumerlending.loan-cancelled:
      type: object
      properties:
        loanId:
          type: string
          description: The id of the loan that was cancelled
          format: uuid
        cancellationRequestId:
          type: string
          description: The id of the cancellation request that initiated the cancellation
          format: uuid
      additionalProperties: false
      description: ''
    consumerlending.loan-reopened:
      type: object
      properties:
        loanId:
          type: string
          description: The id of the loan that was completed
          format: uuid
        reasons:
          type: array
          items:
            type: string
          description: A list of reasons that outline why a loan was reopened
      additionalProperties: false
      description: ''
    consumerlending.loanfunding-validationpassed:
      type: object
      properties:
        loanId:
          type: string
          description: The id of the loan that the funding was made for
          format: uuid
        fundingSubmissionId:
          type: string
          description: The submission id of the funding batch that was submitted
          format: uuid
      additionalProperties: false
      description: ''
    consumerlending.loanfunding-railpending:
      type: object
      properties:
        loanId:
          type: string
          description: The id of the loan that the funding was made for
          format: uuid
        fundingSubmissionId:
          type: string
          description: The submission id of the funding batch that was requested
          format: uuid
        fundingInstructionId:
          type: string
          description: The id of the funding instruction that is pending
          format: uuid
      additionalProperties: false
      description: ''
    Microsoft.AspNetCore.Mvc.ValidationProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        traceId:
          type:
          - string
          - 'null'
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      additionalProperties: {}
    fednow.outgoing-approval-required:
      required:
      - accountNumber
      type: object
      properties:
        transactionId:
          type: string
          description: The ID of the payment
          format: uuid
        accountNumber:
          type: string
          description: The account number from which the payment originates
        amount:
          type: number
          description: The amount of the payment
          format: double
      additionalProperties: false
      description: ''
    consumerlending.loan-completed:
      type: object
      properties:
        loanId:
          type: string
          description: The id of the loan that was completed
          format: uuid
      additionalProperties: false
      description: ''
    fednow.outgoing-approved:
      required:
      - accountNumber
      type: object
      properties:
        transactionId:
          type: string
          description: The ID of the payment
          format: uuid
        accountNumber:
          type: string
          description: The account number from which the payment originates
        amount:
          type: number
[...]
