{"openapi":"3.0.1","info":{"title":"IT Operations","version":"v1"},"servers":[{"url":"https://cubi-sandbox-api.customersbank.com/itoperations/v1"}],"paths":{"/Banks":{"get":{"tags":["Banks"],"summary":"/Banks - GET","description":"Searches for banks","operationId":"get-banks","parameters":[{"name":"bankName","in":"query","description":"The name of the bank for which to search","schema":{"type":"string","example":"Customers"},"example":"Customers"},{"name":"routingCode","in":"query","description":"The routing code to search for.  Can be an ABA, BIC/Swift, or any other international routing code","schema":{"type":"string","example":"123456789"},"example":123456789},{"name":"routingType","in":"query","description":"The routing code type to search for (eg. BIC, ABA, etc.)","schema":{"type":"string","example":"ABA"},"example":"ABA"},{"name":"countryCode","in":"query","description":"The country code to search for","schema":{"type":"string","example":"US"},"example":"US"},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.BankDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.BankDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"locationId":0,"bankName":"string","routingCode":"string","alternateRoutingCode":"string","routingType":"string","pairedBic":"string","countryCode":"string","branchName":"string","streetAddress":"string","stateOrProvince":"string","postalCode":"string","city":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.BankDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"locationId":0,"bankName":"string","routingCode":"string","alternateRoutingCode":"string","routingType":"string","pairedBic":"string","countryCode":"string","branchName":"string","streetAddress":"string","stateOrProvince":"string","postalCode":"string","city":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Banks/{id}":{"get":{"tags":["Banks"],"summary":"/Banks/{id} - GET","description":"Retrieves a specific bank, by locationId","operationId":"get-banks-id","parameters":[{"name":"id","in":"path","description":"The locationId of the bank to retrieve","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.BankDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.BankDto"},"example":{"locationId":0,"bankName":"string","routingCode":"string","alternateRoutingCode":"string","routingType":"string","pairedBic":"string","countryCode":"string","branchName":"string","streetAddress":"string","stateOrProvince":"string","postalCode":"string","city":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.BankDto"},"example":{"locationId":0,"bankName":"string","routingCode":"string","alternateRoutingCode":"string","routingType":"string","pairedBic":"string","countryCode":"string","branchName":"string","streetAddress":"string","stateOrProvince":"string","postalCode":"string","city":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Banks/aba/{abaNumber}":{"get":{"tags":["Banks"],"summary":"/Banks/aba/{abaNumber} - GET","description":"Retrieves a single ABA record, by ABA","operationId":"get-banks-aba-abanumber","parameters":[{"name":"abaNumber","in":"path","description":"The ABA to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.AbaDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.AbaDto"},"example":{"locationId":0,"bankName":"string","abaNumber":"string","bic":"string","isWireEnabled":true,"isAchEnabled":true,"isFedNowEnabled":true,"isRTPEnabled":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.AbaDto"},"example":{"locationId":0,"bankName":"string","abaNumber":"string","bic":"string","isWireEnabled":true,"isAchEnabled":true,"isFedNowEnabled":true,"isRTPEnabled":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Banks/bic/{bic}":{"get":{"tags":["Banks"],"summary":"/Banks/bic/{bic} - GET","description":"Retrieves a single BIC record, by BIC","operationId":"get-banks-bic-bic","parameters":[{"name":"bic","in":"path","description":"The BIC to retrieve","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.BicDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.BicDto"},"example":{"locationId":0,"bankName":"string","bic":"string","alternateBic":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.BicDto"},"example":{"locationId":0,"bankName":"string","bic":"string","alternateBic":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/CorrespondentInstructions":{"get":{"tags":["CorrespondentInstructions"],"summary":"/CorrespondentInstructions - GET","description":"Searches for known correspondence instructions (ssi) for various payment rails, given a target beneficiary bank (either ABA or BIC).\r\nWill only return results for USD.\r\nBanks may have multiple or zero results, and instructions should be validated with beneficiary banks prior to production usage","operationId":"get-correspondentinstructions","parameters":[{"name":"rail","in":"query","description":"The payment rail to search for.  Most typically 'fedwire' or 'ach', but may also be used to search itnernational settlement systems such as TISS, ZECH, etc.","schema":{"type":"string"}},{"name":"abaNumber","in":"query","description":"The ABA of the desired beneficiary bank, if the bank is US based","schema":{"type":"string"}},{"name":"bic","in":"query","description":"The BIC of the desired beneficiary bank","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.CorrespondentInstructionsDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.CorrespondentInstructionsDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"receiverAba":"string","receiverName":"string","isPreferredSsi":true,"clearingSystem":"string","intermediateLocationId":0,"intermediateName":"string","intermediateAddress":"string","intermediateCity":"string","intermediateStateOrProvince":"string","intermediatePostalCode":"string","intermediateCountry":"string","intermediateBic":"string","intermediateAba":"string","beneficiaryLocationId":0,"beneficiaryName":"string","beneficiaryAddress":"string","beneficiaryCity":"string","beneficiaryStateOrProvince":"string","beneficiaryPostalCode":"string","beneficiaryCountry":"string","beneficiaryBic":"string","alternateBeneficiaryBic":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.CorrespondentInstructionsDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"receiverAba":"string","receiverName":"string","isPreferredSsi":true,"clearingSystem":"string","intermediateLocationId":0,"intermediateName":"string","intermediateAddress":"string","intermediateCity":"string","intermediateStateOrProvince":"string","intermediatePostalCode":"string","intermediateCountry":"string","intermediateBic":"string","intermediateAba":"string","beneficiaryLocationId":0,"beneficiaryName":"string","beneficiaryAddress":"string","beneficiaryCity":"string","beneficiaryStateOrProvince":"string","beneficiaryPostalCode":"string","beneficiaryCountry":"string","beneficiaryBic":"string","alternateBeneficiaryBic":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Banks/aba":{"get":{"tags":["Banks"],"summary":"/Banks/aba - GET","description":"Searches all ABA records","operationId":"get-banks-aba","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.AbaDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.AbaDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"locationId":0,"bankName":"string","abaNumber":"string","bic":"string","isWireEnabled":true,"isAchEnabled":true,"isFedNowEnabled":true,"isRTPEnabled":true}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.AbaDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"locationId":0,"bankName":"string","abaNumber":"string","bic":"string","isWireEnabled":true,"isAchEnabled":true,"isFedNowEnabled":true,"isRTPEnabled":true}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Banks/bic":{"get":{"tags":["Banks"],"summary":"/Banks/bic - GET","description":"Searches all BIC records","operationId":"get-banks-bic","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.BicDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.BicDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"locationId":0,"bankName":"string","bic":"string","alternateBic":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.BicDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"locationId":0,"bankName":"string","bic":"string","alternateBic":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/CorrespondentInstructions/download":{"get":{"tags":["CorrespondentInstructions"],"summary":"/CorrespondentInstructions/download?rail={rail} - GET","operationId":"get-correspondentinstructions-download-rail-rail","parameters":[{"name":"rail","in":"query","required":true,"schema":{"type":"string"}},{"name":"abaNumber","in":"query","schema":{"type":"string"}},{"name":"bic","in":"query","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.CorrespondentInstructionsDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.CorrespondentInstructionsDto"}},"example":[{"receiverAba":"string","receiverName":"string","isPreferredSsi":true,"clearingSystem":"string","intermediateLocationId":0,"intermediateName":"string","intermediateAddress":"string","intermediateCity":"string","intermediateStateOrProvince":"string","intermediatePostalCode":"string","intermediateCountry":"string","intermediateBic":"string","intermediateAba":"string","beneficiaryLocationId":0,"beneficiaryName":"string","beneficiaryAddress":"string","beneficiaryCity":"string","beneficiaryStateOrProvince":"string","beneficiaryPostalCode":"string","beneficiaryCountry":"string","beneficiaryBic":"string","alternateBeneficiaryBic":"string"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.CorrespondentInstructionsDto"}},"example":[{"receiverAba":"string","receiverName":"string","isPreferredSsi":true,"clearingSystem":"string","intermediateLocationId":0,"intermediateName":"string","intermediateAddress":"string","intermediateCity":"string","intermediateStateOrProvince":"string","intermediatePostalCode":"string","intermediateCountry":"string","intermediateBic":"string","intermediateAba":"string","beneficiaryLocationId":0,"beneficiaryName":"string","beneficiaryAddress":"string","beneficiaryCity":"string","beneficiaryStateOrProvince":"string","beneficiaryPostalCode":"string","beneficiaryCountry":"string","beneficiaryBic":"string","alternateBeneficiaryBic":"string"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/WebPubSub/client-access-uri":{"get":{"tags":["WebPubSub"],"summary":"/WebPubSub/client-access-uri - GET","operationId":"get-webpubsub-client-access-uri","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"string","format":"uri"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"string","format":"uri"},"example":"string"},"text/json":{"schema":{"type":"string","format":"uri"},"example":"string"}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}}},"components":{"schemas":{"Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.AbaDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.AbaDto"}}},"additionalProperties":false},"Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.BankDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.BankDto"}}},"additionalProperties":false},"Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.BicDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.BicDto"}}},"additionalProperties":false},"Cubi.Common.Abstractions.Paginated_Cubi.ITOperations.WebApi.Dto.CorrespondentInstructionsDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ITOperations.WebApi.Dto.CorrespondentInstructionsDto"}}},"additionalProperties":false},"Cubi.ITOperations.WebApi.Dto.AbaDto":{"type":"object","properties":{"locationId":{"type":"integer","description":"The LocationId of the bank","format":"int32"},"bankName":{"type":"string","description":"The name of the bank","nullable":true},"abaNumber":{"type":"string","description":"The ABA number of the bank","nullable":true},"bic":{"type":"string","description":"The BIC for the bank","nullable":true},"isWireEnabled":{"type":"boolean","description":"True if this ABA supports direct wires; false otherwise"},"isAchEnabled":{"type":"boolean","description":"True if this ABA supports direct ACH; false otherwise"},"isFedNowEnabled":{"type":"boolean","description":"True if this ABA supports FedNow; false otherwise","nullable":true},"isRTPEnabled":{"type":"boolean","description":"True if this ABA supports RTP; false otherwise","nullable":true}},"additionalProperties":false},"Cubi.ITOperations.WebApi.Dto.BankDto":{"type":"object","properties":{"locationId":{"type":"integer","description":"The location id of the bank","format":"int32"},"bankName":{"type":"string","description":"The name of the bank","nullable":true},"routingCode":{"type":"string","description":"The routing code of the bank (could be ABA, BIC, or any international routing code)","nullable":true},"alternateRoutingCode":{"type":"string","description":"The alternate routing code of the bank (could be ABA, BIC, SWIFT, or any international routing code).","nullable":true},"routingType":{"type":"string","description":"The type of routing code (eg. ABA, BIC, etc.)","nullable":true},"pairedBic":{"type":"string","description":"The BIC for the bank","nullable":true},"countryCode":{"type":"string","description":"The two character country code for this bank location","nullable":true},"branchName":{"type":"string","description":"The name of the bank branch","nullable":true},"streetAddress":{"type":"string","description":"The street address of the bank location","nullable":true},"stateOrProvince":{"type":"string","description":"The state/province for the bank location","nullable":true},"postalCode":{"type":"string","description":"The postal code for the bank location","nullable":true},"city":{"type":"string","description":"The city for the bank location","nullable":true}},"additionalProperties":false},"Cubi.ITOperations.WebApi.Dto.BicDto":{"type":"object","properties":{"locationId":{"type":"integer","description":"The location id for the bank","format":"int32"},"bankName":{"type":"string","description":"The name of the bank","nullable":true},"bic":{"type":"string","description":"The BIC for the bank","nullable":true},"alternateBic":{"type":"string","description":"The alternate BIC (BIC-8)","nullable":true}},"additionalProperties":false},"Cubi.ITOperations.WebApi.Dto.CorrespondentInstructionsDto":{"type":"object","properties":{"receiverAba":{"type":"string","description":"Routing number of the receiving bank.  This must be a federal ABA number.  If there is no intermediary bank, then this will be the ABA number of the beneficiary bank","nullable":true},"receiverName":{"type":"string","description":"Name of receiving bank.  If there is no intermediary bank, then this will be the name of the beneficiary bank","nullable":true},"isPreferredSsi":{"type":"boolean","description":"Whether or not this is the preferred SSI for this bank.  If multiple results are found, then those marked as preferred should be favored"},"clearingSystem":{"type":"string","description":"The clearing system for the correspondent instructions (SSI).  Typically fedwire or ach, but could also be any foreign clearing system","nullable":true},"intermediateLocationId":{"type":"integer","description":"The location id of the intermediate bank location, if one exists","format":"int64","nullable":true},"intermediateName":{"type":"string","description":"The name of the intermediary bank, if one exists","nullable":true},"intermediateAddress":{"type":"string","description":"The street address of the intermediary bank, if one exists","nullable":true},"intermediateCity":{"type":"string","description":"The city of the intermediary bank, if one exists","nullable":true},"intermediateStateOrProvince":{"type":"string","description":"The state/province of the intermediary bank, if one exists","nullable":true},"intermediatePostalCode":{"type":"string","description":"The postal code of the intermediary bank, if one exists","nullable":true},"intermediateCountry":{"type":"string","description":"The country of the intermediary bank, if one exists","nullable":true},"intermediateBic":{"type":"string","description":"The BIC of the intermediary bank, if one exists","nullable":true},"intermediateAba":{"type":"string","description":"The ABA of the intermediary bank, if one exists","nullable":true},"beneficiaryLocationId":{"type":"integer","description":"The location id of the beneficiary bank","format":"int64"},"beneficiaryName":{"type":"string","description":"The name of the benficiary bank","nullable":true},"beneficiaryAddress":{"type":"string","description":"The street address of the beneficiary bank","nullable":true},"beneficiaryCity":{"type":"string","description":"The city of the beneficiary bank","nullable":true},"beneficiaryStateOrProvince":{"type":"string","description":"The state/province of the beneficiary bank","nullable":true},"beneficiaryPostalCode":{"type":"string","description":"The postal code of the beneficiary bank","nullable":true},"beneficiaryCountry":{"type":"string","description":"The country of the beneficiary bank","nullable":true},"beneficiaryBic":{"type":"string","description":"The BIC of the beneficiary bank","nullable":true},"alternateBeneficiaryBic":{"type":"string","description":"The Alternate BIC of the beneficiary bank (BIC-8)","nullable":true}},"additionalProperties":false},"Microsoft.AspNetCore.Mvc.ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"traceId":{"type":"string","nullable":true}},"additionalProperties":{}},"Microsoft.AspNetCore.Mvc.ValidationProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"traceId":{"type":"string","nullable":true},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"additionalProperties":{}}}},"x-readme":{"explorer-enabled":false,"proxy-enabled":true}}