{"openapi":"3.0.1","info":{"title":"ConsumerLending","version":"v1"},"servers":[{"url":"https://cubi-sandbox-api.customersbank.com/consumerlending/v1"}],"paths":{"/application":{"post":{"tags":["LoanApplication"],"summary":"/application - POST","description":"Creates a new loan application in the system. Creating an application will initiate the approval process. If that process is successful the application will be converted to a loan.","operationId":"post-application","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"3169e68b-93ce-49a7-aec5-907f52099868"}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.CreateLoanApplicationDto"},"example":{"platformReferenceNumber":"string","applicationDate":"string","requestedLoanAmount":0,"maximumApprovedLoanAmount":0,"loanAmount":0,"netFundingAmount":0,"partnerLoanApprovalDate":"string","apr":0,"noteRate":0,"collateralCategory":"string","loanPurpose":"string","defaultProbability":0,"customRiskScore":"string","customGrade":"string","isMlaLoan":true,"mlaChecked":true,"ofacChecked":true,"promotionDetails":{"promotionMonths":0},"borrowers":[{"ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"debt":0,"creditInquiryCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"sixtyDayLatePaymentCount":0,"tradeDelinquencyCount":0,"chargeOffCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"cosigners":[{"ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"debt":0,"creditInquiryCount":0,"sixtyDayLatePaymentCount":0,"tradeDelinquencyCount":0,"chargeOffCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"programId":"string","loanAccountNumber":"string","fundImmediatelyOnApproval":true,"immediateFundingInstructions":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","platformReferenceNumber":"string"}],"aanReasons":["string"],"propertyDetails":{"streetAddress":"string","city":"string","state":"string","zipCode":"string","cltv":0,"propertyType":"Other","unitCount":0,"automatedValuationModel":0,"manualValuationModel":0,"avmConfidenceScore":0,"outstandingMortgageBalance":0},"contractors":[{"name":"string","ein":"string"}],"resultOfCounterOfferProcess":true,"monthlyPayment":0,"termLength":0,"merchantDiscountRatePercentage":0,"merchantDiscountRateAmount":0,"originationFeePercentage":0,"originationFeeAmount":0,"paymentFactor":0,"partnerStatus":"Signed","partnerStatusReason":"string","acquisitionChannelName":"string","stagedFundingDetails":{"expectedNumberOfStages":0,"expectedFundingLevels":[{"fundingStageNumber":0,"expectedFundingPercentage":0}]}}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.CreateLoanApplicationDto"},"example":{"platformReferenceNumber":"string","applicationDate":"string","requestedLoanAmount":0,"maximumApprovedLoanAmount":0,"loanAmount":0,"netFundingAmount":0,"partnerLoanApprovalDate":"string","apr":0,"noteRate":0,"collateralCategory":"string","loanPurpose":"string","defaultProbability":0,"customRiskScore":"string","customGrade":"string","isMlaLoan":true,"mlaChecked":true,"ofacChecked":true,"promotionDetails":{"promotionMonths":0},"borrowers":[{"ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"debt":0,"creditInquiryCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"sixtyDayLatePaymentCount":0,"tradeDelinquencyCount":0,"chargeOffCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"cosigners":[{"ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"debt":0,"creditInquiryCount":0,"sixtyDayLatePaymentCount":0,"tradeDelinquencyCount":0,"chargeOffCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"programId":"string","loanAccountNumber":"string","fundImmediatelyOnApproval":true,"immediateFundingInstructions":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","platformReferenceNumber":"string"}],"aanReasons":["string"],"propertyDetails":{"streetAddress":"string","city":"string","state":"string","zipCode":"string","cltv":0,"propertyType":"Other","unitCount":0,"automatedValuationModel":0,"manualValuationModel":0,"avmConfidenceScore":0,"outstandingMortgageBalance":0},"contractors":[{"name":"string","ein":"string"}],"resultOfCounterOfferProcess":true,"monthlyPayment":0,"termLength":0,"merchantDiscountRatePercentage":0,"merchantDiscountRateAmount":0,"originationFeePercentage":0,"originationFeeAmount":0,"paymentFactor":0,"partnerStatus":"Signed","partnerStatusReason":"string","acquisitionChannelName":"string","stagedFundingDetails":{"expectedNumberOfStages":0,"expectedFundingLevels":[{"fundingStageNumber":0,"expectedFundingPercentage":0}]}}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.CreateLoanApplicationDto"},"example":{"platformReferenceNumber":"string","applicationDate":"string","requestedLoanAmount":0,"maximumApprovedLoanAmount":0,"loanAmount":0,"netFundingAmount":0,"partnerLoanApprovalDate":"string","apr":0,"noteRate":0,"collateralCategory":"string","loanPurpose":"string","defaultProbability":0,"customRiskScore":"string","customGrade":"string","isMlaLoan":true,"mlaChecked":true,"ofacChecked":true,"promotionDetails":{"promotionMonths":0},"borrowers":[{"ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"debt":0,"creditInquiryCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"sixtyDayLatePaymentCount":0,"tradeDelinquencyCount":0,"chargeOffCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"cosigners":[{"ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"debt":0,"creditInquiryCount":0,"sixtyDayLatePaymentCount":0,"tradeDelinquencyCount":0,"chargeOffCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"programId":"string","loanAccountNumber":"string","fundImmediatelyOnApproval":true,"immediateFundingInstructions":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","platformReferenceNumber":"string"}],"aanReasons":["string"],"propertyDetails":{"streetAddress":"string","city":"string","state":"string","zipCode":"string","cltv":0,"propertyType":"Other","unitCount":0,"automatedValuationModel":0,"manualValuationModel":0,"avmConfidenceScore":0,"outstandingMortgageBalance":0},"contractors":[{"name":"string","ein":"string"}],"resultOfCounterOfferProcess":true,"monthlyPayment":0,"termLength":0,"merchantDiscountRatePercentage":0,"merchantDiscountRateAmount":0,"originationFeePercentage":0,"originationFeeAmount":0,"paymentFactor":0,"partnerStatus":"Signed","partnerStatusReason":"string","acquisitionChannelName":"string","stagedFundingDetails":{"expectedNumberOfStages":0,"expectedFundingLevels":[{"fundingStageNumber":0,"expectedFundingPercentage":0}]}}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationAcceptedDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationAcceptedDto"},"example":{"id":"string","immediateFundingInstructions":[{"platformReferenceNumber":"string","fundingInstructionId":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationAcceptedDto"},"example":{"id":"string","immediateFundingInstructions":[{"platformReferenceNumber":"string","fundingInstructionId":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"get":{"tags":["LoanApplication"],"summary":"/application - GET","description":"Retrieve a paginated list of loan applications filtered by the search options provided.","operationId":"get-application","parameters":[{"name":"programId","in":"query","description":"The partner program id to search applications for","schema":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"example":"00000000-0000-0000-0000-000000000000"},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanApplicationResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanApplicationResponseDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","platformReferenceNumber":"string","applicationDate":"string","requestedLoanAmount":0,"maximumApprovedLoanAmount":0,"loanAmount":0,"netFundingAmount":0,"partnerLoanApprovalDate":"string","apr":0,"noteRate":0,"loanAccountNumber":"string","collateralCategory":"string","loanPurpose":"string","defaultProbability":0,"customRiskScore":"string","customGrade":"string","mlaLoan":true,"mlaChecked":true,"ofacChecked":true,"promotionDetails":{"promotionMonths":0},"propertyDetails":{"streetAddress":"string","city":"string","state":"string","zipCode":"string","cltv":0,"propertyType":"Other","unitCount":0,"automatedValuationModel":0,"manualValuationModel":0,"avmConfidenceScore":0,"outstandingMortgageBalance":0},"programId":"string","applicationStatus":"string","borrowers":[{"id":"string","ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"creditInquiryCount":0,"chargeOffCount":0,"tradeDelinquencyCount":0,"sixtyDayLatePaymentCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"debt":0,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"cosigners":[{"id":"string","ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"creditInquiryCount":0,"nonTraditionalInquiryCount":0,"chargeOffCount":0,"tradeDelinquencyCount":0,"sixtyDayLatePaymentCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"debt":0,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"rejectionReasons":[{"processingDate":"string","ruleName":"string","errorMessage":"string"}],"fundImmediatelyOnApproval":true,"immediateFundingInstructions":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","receivedDate":"string","platformReferenceNumber":"string"}],"loanId":"string","aanReasons":["string"],"contractors":[{"name":"string","ein":"string"}],"resultOfCounterOfferProcess":true,"monthlyPayment":0,"termLength":0,"merchantDiscountRatePercentage":0,"merchantDiscountRateAmount":0,"originationFeePercentage":0,"originationFeeAmount":0,"paymentFactor":0,"partnerStatus":"Signed","partnerStatusReason":"string","acquisitionChannelName":"string","stagedFundingDetails":{"expectedNumberOfStages":0,"expectedFundingLevels":[{"fundingStageNumber":0,"expectedFundingPercentage":0}]}}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanApplicationResponseDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","platformReferenceNumber":"string","applicationDate":"string","requestedLoanAmount":0,"maximumApprovedLoanAmount":0,"loanAmount":0,"netFundingAmount":0,"partnerLoanApprovalDate":"string","apr":0,"noteRate":0,"loanAccountNumber":"string","collateralCategory":"string","loanPurpose":"string","defaultProbability":0,"customRiskScore":"string","customGrade":"string","mlaLoan":true,"mlaChecked":true,"ofacChecked":true,"promotionDetails":{"promotionMonths":0},"propertyDetails":{"streetAddress":"string","city":"string","state":"string","zipCode":"string","cltv":0,"propertyType":"Other","unitCount":0,"automatedValuationModel":0,"manualValuationModel":0,"avmConfidenceScore":0,"outstandingMortgageBalance":0},"programId":"string","applicationStatus":"string","borrowers":[{"id":"string","ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"creditInquiryCount":0,"chargeOffCount":0,"tradeDelinquencyCount":0,"sixtyDayLatePaymentCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"debt":0,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"cosigners":[{"id":"string","ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"creditInquiryCount":0,"nonTraditionalInquiryCount":0,"chargeOffCount":0,"tradeDelinquencyCount":0,"sixtyDayLatePaymentCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"debt":0,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"rejectionReasons":[{"processingDate":"string","ruleName":"string","errorMessage":"string"}],"fundImmediatelyOnApproval":true,"immediateFundingInstructions":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","receivedDate":"string","platformReferenceNumber":"string"}],"loanId":"string","aanReasons":["string"],"contractors":[{"name":"string","ein":"string"}],"resultOfCounterOfferProcess":true,"monthlyPayment":0,"termLength":0,"merchantDiscountRatePercentage":0,"merchantDiscountRateAmount":0,"originationFeePercentage":0,"originationFeeAmount":0,"paymentFactor":0,"partnerStatus":"Signed","partnerStatusReason":"string","acquisitionChannelName":"string","stagedFundingDetails":{"expectedNumberOfStages":0,"expectedFundingLevels":[{"fundingStageNumber":0,"expectedFundingPercentage":0}]}}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/application/{id}":{"get":{"tags":["LoanApplication"],"summary":"/application/{id} - GET","description":"Retrieve a specific loan application using its Id value.","operationId":"get-application-id","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationResponseDto"},"example":{"id":"string","platformReferenceNumber":"string","applicationDate":"string","requestedLoanAmount":0,"maximumApprovedLoanAmount":0,"loanAmount":0,"netFundingAmount":0,"partnerLoanApprovalDate":"string","apr":0,"noteRate":0,"loanAccountNumber":"string","collateralCategory":"string","loanPurpose":"string","defaultProbability":0,"customRiskScore":"string","customGrade":"string","mlaLoan":true,"mlaChecked":true,"ofacChecked":true,"promotionDetails":{"promotionMonths":0},"propertyDetails":{"streetAddress":"string","city":"string","state":"string","zipCode":"string","cltv":0,"propertyType":"Other","unitCount":0,"automatedValuationModel":0,"manualValuationModel":0,"avmConfidenceScore":0,"outstandingMortgageBalance":0},"programId":"string","applicationStatus":"string","borrowers":[{"id":"string","ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"creditInquiryCount":0,"chargeOffCount":0,"tradeDelinquencyCount":0,"sixtyDayLatePaymentCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"debt":0,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"cosigners":[{"id":"string","ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"creditInquiryCount":0,"nonTraditionalInquiryCount":0,"chargeOffCount":0,"tradeDelinquencyCount":0,"sixtyDayLatePaymentCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"debt":0,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"rejectionReasons":[{"processingDate":"string","ruleName":"string","errorMessage":"string"}],"fundImmediatelyOnApproval":true,"immediateFundingInstructions":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","receivedDate":"string","platformReferenceNumber":"string"}],"loanId":"string","aanReasons":["string"],"contractors":[{"name":"string","ein":"string"}],"resultOfCounterOfferProcess":true,"monthlyPayment":0,"termLength":0,"merchantDiscountRatePercentage":0,"merchantDiscountRateAmount":0,"originationFeePercentage":0,"originationFeeAmount":0,"paymentFactor":0,"partnerStatus":"Signed","partnerStatusReason":"string","acquisitionChannelName":"string","stagedFundingDetails":{"expectedNumberOfStages":0,"expectedFundingLevels":[{"fundingStageNumber":0,"expectedFundingPercentage":0}]}}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationResponseDto"},"example":{"id":"string","platformReferenceNumber":"string","applicationDate":"string","requestedLoanAmount":0,"maximumApprovedLoanAmount":0,"loanAmount":0,"netFundingAmount":0,"partnerLoanApprovalDate":"string","apr":0,"noteRate":0,"loanAccountNumber":"string","collateralCategory":"string","loanPurpose":"string","defaultProbability":0,"customRiskScore":"string","customGrade":"string","mlaLoan":true,"mlaChecked":true,"ofacChecked":true,"promotionDetails":{"promotionMonths":0},"propertyDetails":{"streetAddress":"string","city":"string","state":"string","zipCode":"string","cltv":0,"propertyType":"Other","unitCount":0,"automatedValuationModel":0,"manualValuationModel":0,"avmConfidenceScore":0,"outstandingMortgageBalance":0},"programId":"string","applicationStatus":"string","borrowers":[{"id":"string","ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"creditInquiryCount":0,"chargeOffCount":0,"tradeDelinquencyCount":0,"sixtyDayLatePaymentCount":0,"nonTraditionalInquiryCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"debt":0,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"cosigners":[{"id":"string","ssn":"string","fullName":"string","dateOfBirth":"string","annualIncome":0,"employerName":"string","emailAddress":"string","schoolName":"string","schoolOpeCode":"string","schoolGraduationYear":0,"degreeType":"string","areaOfStudy":"string","deceased":true,"housingStatus":"Own","streetAddress":"string","city":"string","state":"string","zipCode":"string","homePhoneNumber":"string","workPhoneNumber":"string","cellPhoneNumber":"string","ficoScore":0,"debtToIncomeRatio":0,"creditInquiryCount":0,"nonTraditionalInquiryCount":0,"chargeOffCount":0,"tradeDelinquencyCount":0,"sixtyDayLatePaymentCount":0,"mortgageDelinquencyCount":0,"thirtyDayLatePaymentCount":0,"numberOfMonthsSinceAnyThirtyDayLatePayments":0,"derogatoryRemarkCount":0,"hasFiledForBankruptcy":true,"debt":0,"monthsSinceBankruptcyFiled":0,"monthsSinceBankruptcyDismissed":0,"monthsSinceBankruptcyStatusDate":0}],"rejectionReasons":[{"processingDate":"string","ruleName":"string","errorMessage":"string"}],"fundImmediatelyOnApproval":true,"immediateFundingInstructions":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","receivedDate":"string","platformReferenceNumber":"string"}],"loanId":"string","aanReasons":["string"],"contractors":[{"name":"string","ein":"string"}],"resultOfCounterOfferProcess":true,"monthlyPayment":0,"termLength":0,"merchantDiscountRatePercentage":0,"merchantDiscountRateAmount":0,"originationFeePercentage":0,"originationFeeAmount":0,"paymentFactor":0,"partnerStatus":"Signed","partnerStatusReason":"string","acquisitionChannelName":"string","stagedFundingDetails":{"expectedNumberOfStages":0,"expectedFundingLevels":[{"fundingStageNumber":0,"expectedFundingPercentage":0}]}}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/program/{id}":{"get":{"tags":["PartnerProgram"],"summary":"/program/{id} - GET","description":"Retrieve the details of a specific program (policy) using its Id.","operationId":"get-program-id","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.PartnerProgramResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.PartnerProgramResponseDto"},"example":{"id":"string","name":"string","programType":"Other","feeType":"None","approvalRules":[{"effectiveDate":"string","creditPolicyVersion":"string","maximumNumberOfBorrowers":0,"maximumNumberOfCosigners":0}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.PartnerProgramResponseDto"},"example":{"id":"string","name":"string","programType":"Other","feeType":"None","approvalRules":[{"effectiveDate":"string","creditPolicyVersion":"string","maximumNumberOfBorrowers":0,"maximumNumberOfCosigners":0}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/program":{"get":{"tags":["PartnerProgram"],"summary":"/program - GET","description":"Retrieve a paginated list of program (policy) details filtered by the search options provided.","operationId":"get-program","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.PartnerProgramResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.PartnerProgramResponseDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","name":"string","programType":"Other","feeType":"None","approvalRules":[{"effectiveDate":"string","creditPolicyVersion":"string","maximumNumberOfBorrowers":0,"maximumNumberOfCosigners":0}]}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.PartnerProgramResponseDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","name":"string","programType":"Other","feeType":"None","approvalRules":[{"effectiveDate":"string","creditPolicyVersion":"string","maximumNumberOfBorrowers":0,"maximumNumberOfCosigners":0}]}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/loan/{id}":{"get":{"tags":["Loan"],"summary":"/loan/{id} - GET","description":"Retrieve the details of a specific loan using its Id value.","operationId":"get-loan-id","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanResponseDto"},"example":{"id":"string","applicationId":"string","programId":"string","approvedAmount":0,"amountFunded":0,"originationFeeAmount":0,"promotionExpiryDate":"string","merchantDiscountRateAmount":0,"disbursementDate":"string","maturityDate":"string","status":"Open"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanResponseDto"},"example":{"id":"string","applicationId":"string","programId":"string","approvedAmount":0,"amountFunded":0,"originationFeeAmount":0,"promotionExpiryDate":"string","merchantDiscountRateAmount":0,"disbursementDate":"string","maturityDate":"string","status":"Open"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/loan/{id}/funding":{"post":{"tags":["Loan"],"summary":"/loan/{id}/funding - POST","description":"Submit a funding instruction to initiate a disbursement for the specified loan.","operationId":"post-loan-id-funding","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"951dc66d-aaee-4591-8ee7-7ca0d2648e77"}],"requestBody":{"description":"","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.FundingInstructionDto"}},"example":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","platformReferenceNumber":"string"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.FundingInstructionDto"}},"example":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","platformReferenceNumber":"string"}]},"application/*+json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.FundingInstructionDto"}},"example":[{"amountToFund":0,"routingNumber":"string","accountNumber":"string","accountName":"string","accountType":"Checking","platformReferenceNumber":"string"}]}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.FundingSubmissionResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.FundingSubmissionResponseDto"},"example":{"id":"string","fundingInstructions":[{"platformReferenceNumber":"string","fundingInstructionId":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.FundingSubmissionResponseDto"},"example":{"id":"string","fundingInstructions":[{"platformReferenceNumber":"string","fundingInstructionId":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"get":{"tags":["Loan"],"summary":"/loan/{id}/funding - GET","description":"Retrieve a list of funding instruction details that have been submitted on the specified loan.","operationId":"get-loan-id-funding","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"submissionId","in":"query","description":"The funding submission id to search loan funding instructions for","schema":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"example":"00000000-0000-0000-0000-000000000000"}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanFundingResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanFundingResponseDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","submissionId":"string","loanId":"string","applicationId":"string","accountNumber":"string","accountName":"string","accountType":"Checking","routingNumber":"string","amountToFund":0,"fundingType":"OnDemand","fundingState":"Unfunded","receivedDate":"string","sentToRailDate":"string","platformReferenceNumber":"string","rejectionReason":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanFundingResponseDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","submissionId":"string","loanId":"string","applicationId":"string","accountNumber":"string","accountName":"string","accountType":"Checking","routingNumber":"string","amountToFund":0,"fundingType":"OnDemand","fundingState":"Unfunded","receivedDate":"string","sentToRailDate":"string","platformReferenceNumber":"string","rejectionReason":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/loan/{id}/funding/{fundingInstructionId}":{"get":{"tags":["Loan"],"summary":"/loan/{id}/funding/{fundingInstructionId} - GET","description":"Retrieve the details of a specific funding instruction, using its Id, for the specified loan.","operationId":"get-loan-id-funding-fundinginstructionid","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fundingInstructionId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanFundingResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanFundingResponseDto"},"example":{"id":"string","submissionId":"string","loanId":"string","applicationId":"string","accountNumber":"string","accountName":"string","accountType":"Checking","routingNumber":"string","amountToFund":0,"fundingType":"OnDemand","fundingState":"Unfunded","receivedDate":"string","sentToRailDate":"string","platformReferenceNumber":"string","rejectionReason":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanFundingResponseDto"},"example":{"id":"string","submissionId":"string","loanId":"string","applicationId":"string","accountNumber":"string","accountName":"string","accountType":"Checking","routingNumber":"string","amountToFund":0,"fundingType":"OnDemand","fundingState":"Unfunded","receivedDate":"string","sentToRailDate":"string","platformReferenceNumber":"string","rejectionReason":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/loan":{"get":{"tags":["Loan"],"summary":"/loan - GET","description":"Retrieve a paginated list of loans filtered by the search options provided.","operationId":"get-loan","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanResponseDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","applicationId":"string","programId":"string","approvedAmount":0,"amountFunded":0,"originationFeeAmount":0,"promotionExpiryDate":"string","merchantDiscountRateAmount":0,"disbursementDate":"string","maturityDate":"string","status":"Open"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanResponseDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","applicationId":"string","programId":"string","approvedAmount":0,"amountFunded":0,"originationFeeAmount":0,"promotionExpiryDate":"string","merchantDiscountRateAmount":0,"disbursementDate":"string","maturityDate":"string","status":"Open"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/loan/{id}/complete":{"post":{"tags":["Loan"],"summary":"/loan/{id}/complete - POST","description":"Declare that the process to complete a loan is being initiated. A loan can immediately be completed if there are no outstanding fundings being processed. If there are outstanding fundings being processed the loan well be marked as pending completion until those fundings have been successfully processed which will trigger completing the loan. Once completed the loan can no longer be funded.","operationId":"post-loan-id-complete","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"d288e766-b5ca-4f97-b5e6-751a143a4621"}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCompletionDetailsDto"},"example":{"completionReason":"string","isEarlyCompletion":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCompletionDetailsDto"},"example":{"completionReason":"string","isEarlyCompletion":true}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCompletionDetailsDto"},"example":{"completionReason":"string","isEarlyCompletion":true}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCompletionReponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCompletionReponseDto"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCompletionReponseDto"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/loan/{id}/cancel":{"post":{"tags":["Loan"],"summary":"/loan/{id}/cancel - POST","description":"Declare that a loan's status is being changed to cancelled. Once cancelled the loan can no longer be funded.","operationId":"post-loan-id-cancel","parameters":[{"name":"id","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"2ad7c34d-7841-433d-986a-64269a9b7d05"}],"requestBody":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCancellationDetailsDto"},"example":{"cancellationReason":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCancellationDetailsDto"},"example":{"cancellationReason":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCancellationDetailsDto"},"example":{"cancellationReason":"string"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCancellationResponseDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCancellationResponseDto"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanCancellationResponseDto"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}}},"components":{"schemas":{"Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanApplicationResponseDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationResponseDto"}}},"additionalProperties":false},"Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanFundingResponseDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanFundingResponseDto"}}},"additionalProperties":false},"Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.LoanResponseDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanResponseDto"}}},"additionalProperties":false},"Cubi.Common.Abstractions.Paginated_Cubi.ConsumerLending.WebApi.Dto.PartnerProgramResponseDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.PartnerProgramResponseDto"}}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.AccountType":{"enum":["Checking","Savings"],"type":"string"},"Cubi.ConsumerLending.WebApi.Dto.ApplicationPartnerStatus":{"enum":["Signed","Canceled","Declined","Rejected"],"type":"string"},"Cubi.ConsumerLending.WebApi.Dto.ApplicationRejectionReasonResponseDto":{"type":"object","properties":{"processingDate":{"type":"string","description":"The date that the application processing occurred on. This value will in UTC","format":"date-time"},"ruleName":{"type":"string","description":"The rule name that caused the failure","nullable":true},"errorMessage":{"type":"string","description":"The error message associated with the failing rule","nullable":true}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.ApprovalRuleResponseDto":{"type":"object","properties":{"effectiveDate":{"type":"string","description":"The date and time that this ruleset is effective on. The ApplicationDate on the loan application is compared to this value when selecting the appropriate ruleset to apply to the loan application.","format":"date-time"},"creditPolicyVersion":{"type":"string","description":"The version number of the credit policy that was used to create the approval rules in this ruleset","nullable":true},"maximumNumberOfBorrowers":{"type":"integer","description":"The maximum number of borrowers that will be accepted on a loan application which is verified by this ruleset","format":"int32"},"maximumNumberOfCosigners":{"type":"integer","description":"The maximum number of cosigners that will be accepted on a loan application which is verified by this ruleset","format":"int32"}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.CreateLoanApplicationDto":{"required":["applicationDate","apr","borrowers","isMlaLoan","loanAccountNumber","loanAmount","loanPurpose","maximumApprovedLoanAmount","mlaChecked","ofacChecked","partnerStatus","platformReferenceNumber","programId","requestedLoanAmount","termLength"],"type":"object","properties":{"platformReferenceNumber":{"minLength":1,"type":"string","description":"Provided by the API caller. The value must be unique within the Program that the application is submitted. The value should be between 1 and 36 characters in length"},"applicationDate":{"type":"string","description":"The date the loan application was completed. It may differ from the submission date if the application was submitted later","format":"date-time"},"requestedLoanAmount":{"type":"number","description":"The dollar amount the customer requested at the time of initial application.","format":"double"},"maximumApprovedLoanAmount":{"type":"number","description":"The highest dollar amount this application qualifies for","format":"double"},"loanAmount":{"type":"number","description":"The dollar amount that will appear on the loan agreement","format":"double"},"netFundingAmount":{"type":"number","description":"The amount expected to be disbursed to the borrower after deductions","format":"double","nullable":true},"partnerLoanApprovalDate":{"type":"string","description":"The UTC date-time when the partner approved the application in their system/process","format":"date-time","nullable":true},"apr":{"type":"number","description":"The APR in a decimal format. Must be greater than 0. An 18.5% APR should be submitted as 18.5","format":"double"},"noteRate":{"type":"number","description":"The rate that exists on the note. An 18.5% rate should be submitted as 18.5","format":"double"},"collateralCategory":{"type":"string","description":"The description of the category for any collateral tied to the application","nullable":true},"loanPurpose":{"minLength":1,"type":"string","description":"A description of the purpose of the loan"},"defaultProbability":{"type":"number","description":"The probability (in percentage), as determined by the API caller, that the loan will default to. 18.5% should be submitted as 18.5","format":"double"},"customRiskScore":{"type":"string","description":"A risk score that the API caller has established for the application/borrower(s). This is a text field and can be in any form the API caller desires","nullable":true},"customGrade":{"type":"string","description":"A grade that the API caller has assigned to this loan application. This is a text field and can be in any form the API caller desires","nullable":true},"isMlaLoan":{"type":"boolean","description":"Indicates if the loan application is governed by the Military Lending Act (MLA)"},"mlaChecked":{"type":"boolean","description":"Indicates that the application has be verified against the Military Lending Act (MLA)"},"ofacChecked":{"type":"boolean","description":"Indicates that the borrowers and cosigners have been OFAC checked by the API caller"},"promotionDetails":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.CreateLoanApplicationPromotionDto"},"borrowers":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationBorrowerDto"},"description":"The list of all the borrowers"},"cosigners":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationCosignerDto"},"description":"The list of all the cosigners","nullable":true},"programId":{"type":"string","description":"The id of the program that this application is being submitted under. A list of programs available for the Partner is available by calling the GET /program API","format":"uuid"},"loanAccountNumber":{"minLength":1,"type":"string","description":"Assigned to this application by the caller. This value must be unique within the Program that the application is submitted under. The value needs to be more than 0 characters and up to 20 characters included"},"fundImmediatelyOnApproval":{"type":"boolean","description":"Indicates that this application should be immediately funded using the ImmediateFundingInstructions when it is approved and converted from an application to a loan"},"immediateFundingInstructions":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.FundingInstructionDto"},"description":"The list of funding instructions to be executed if the application is approved. The FundImmediatelyOnApproval flag is set to true","nullable":true},"aanReasons":{"type":"array","items":{"type":"string"},"description":"The list of Adverse Action Notice (AAN) Reasons collected for this application. Maximum length for each AAN Reason is 255 characters included. Anything longer than that will be trimmed. This field is required if PartnerStatus is set to Declined","nullable":true},"propertyDetails":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.CreateLoanApplicationPropertyDto"},"contractors":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.LoanApplicationContractorDto"},"description":"The list of Contractors associated with this application. This is required if the application program is a Home Improvement Loan","nullable":true},"resultOfCounterOfferProcess":{"type":"boolean","description":"Indicates that the application is a result of a counteroffer process being engaged","nullable":true},"monthlyPayment":{"type":"number","description":"The monthly payment for the application. Must be greater than 0","format":"double"},"termLength":{"type":"integer","description":"The loan term for the application inputed as months. Must be greater than 0","format":"int32"},"merchantDiscountRatePercentage":{"type":"number","description":"The merchant discount rate (MDR) percentage for the application. If the value is 6.5%, provide 6.5. If the program assigned to this application is configured with a fee type of Mdr or MdrAndOrigination, this value cannot be null and should be 0.00 if no MDR is present","format":"double","nullable":true},"merchantDiscountRateAmount":{"type":"number","description":"The merchant discount rate (MDR) amount (in dollars) for the application. This amount is subtracted from the ApprovedLoanAmount to determine the maximum amount of funds that can be disbursed on an application. If the program assigned to this application is configured with a fee type of Mdr or MdrAndOrigination, this value cannot be null and should be 0.00 if no MDR is present","format":"double","nullable":true},"originationFeePercentage":{"type":"number","description":"The origination fee percentage for the application. If the value is six point five percent, provide 6.5. If the program assigned to this application is configured with a fee type of Origination or MdrAndOrigination, this value cannot be null and should be 0.00 if no origination fee is present","format":"double","nullable":true},"originationFeeAmount":{"type":"number","description":"The origination fee amount (in dollars) for the application. This amount is subtracted from the ApprovedLoanAmount to determine the maximum amount of funds that can be disbursed on an application. If the program assigned to this application is configured with a fee type of Origination or MdrAndOrigination, this value cannot be null and should be 0.00 if no origination fee is present","format":"double","nullable":true},"paymentFactor":{"type":"number","description":"The factor used to calculate the monthly payment","format":"double","nullable":true},"partnerStatus":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.ApplicationPartnerStatus"},"partnerStatusReason":{"type":"string","description":"The reason for the partner setting the indicated PartnerStatus state","nullable":true},"acquisitionChannelName":{"type":"string","description":"The channel that the API caller acquired this application from. This can be any value as determined by the API caller, but the values provided should be consistently used","nullable":true},"stagedFundingDetails":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.StagedFundingDetailDto"}},"additionalProperties":false,"description":"Details about a loan application that is to be created"},"Cubi.ConsumerLending.WebApi.Dto.CreateLoanApplicationPromotionDto":{"required":["promotionMonths"],"type":"object","properties":{"promotionMonths":{"type":"integer","description":"The number of months that any promotion assigned to the application is valid for","format":"int32"}},"additionalProperties":false,"description":"Details about the promotion associated with a loan application"},"Cubi.ConsumerLending.WebApi.Dto.CreateLoanApplicationPropertyDto":{"required":["city","cltv","propertyType","state","streetAddress","unitCount","zipCode"],"type":"object","properties":{"streetAddress":{"minLength":1,"type":"string","description":"Street Address of the property associated with the application. Must be 255 characters long or less"},"city":{"minLength":1,"type":"string","description":"City of the property associated with the application. Must be 255 characters long or less"},"state":{"minLength":1,"type":"string","description":"State of the property associated with the application. Must be 2 characters long"},"zipCode":{"minLength":1,"type":"string","description":"Zip Code of the property associated with the application"},"cltv":{"type":"number","description":"Combined loan-to-value (CLTV) ratio for the property","format":"double"},"propertyType":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.PropertyType"},"unitCount":{"type":"integer","description":"Total number of units at this property","format":"int32"},"automatedValuationModel":{"type":"number","description":"Property valuation determined by an automated valuation model","format":"double","nullable":true},"manualValuationModel":{"type":"number","description":"Property valuation determined by a manual modeling process","format":"double","nullable":true},"avmConfidenceScore":{"type":"number","description":"Confidence score for the property valuation determined by the automated valuation model","format":"double","nullable":true},"outstandingMortgageBalance":{"type":"number","description":"Balance outstanding on this property's mortgage","format":"double","nullable":true}},"additionalProperties":false,"description":"Details about the property associated with the loan application. This is required if the program assigned to the loan application is for Home Improvement Loans"},"Cubi.ConsumerLending.WebApi.Dto.FundingInstructionDto":{"required":["accountName","accountNumber","accountType","amountToFund","platformReferenceNumber","routingNumber"],"type":"object","properties":{"amountToFund":{"type":"number","description":"Amount of money to disburse against the loan. Must be greater than 0.00","format":"double"},"routingNumber":{"minLength":1,"type":"string","description":"Routing number of the account the funds are disbursing to. Must be between 1 and 10 characters long"},"accountNumber":{"minLength":1,"type":"string","description":"Account number that the funds are disbursing to. Must be 255 characters long or less"},"accountName":{"minLength":1,"type":"string","description":"The name on the account that the funds are disbursing to. Must be 255 characters long or less"},"accountType":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.AccountType"},"platformReferenceNumber":{"minLength":1,"type":"string","description":"Reference number provided by the API caller. Must be 255 characters long or less"}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.FundingInstructionSubmissionResponseDto":{"type":"object","properties":{"platformReferenceNumber":{"type":"string","description":"The Platform Reference Number that was provided when the funding instruction was submitted","nullable":true},"fundingInstructionId":{"type":"string","description":"The Funding Instruction Id that will be used in webhooks indicating changes in state to the funding instruction","format":"uuid"}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.FundingState":{"enum":["Unfunded","Rejected","SentToRail","Failed","Funded"],"type":"string"},"Cubi.ConsumerLending.WebApi.Dto.FundingSubmissionResponseDto":{"type":"object","properties":{"id":{"type":"string","description":"Funding Submission Id that represents all funding instructions within this submission","format":"uuid"},"fundingInstructions":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.FundingInstructionSubmissionResponseDto"},"description":"List of all the funding instructions that were received as part of this request. This includes the Platform Reference Number that was submitted and the Funding Instruction Id to allow the caller to link any webhooks about the funding instruction to this request","nullable":true}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.FundingType":{"enum":["OnDemand","Immediate"],"type":"string"},"Cubi.ConsumerLending.WebApi.Dto.HousingStatus":{"enum":["Own","Rent"],"type":"string"},"Cubi.ConsumerLending.WebApi.Dto.ImmediateFundingInstructionResponseDto":{"type":"object","properties":{"amountToFund":{"type":"number","description":"Amount of money to disburse against the loan","format":"double"},"routingNumber":{"type":"string","description":"Routing number of the account the funds are disbursing to","nullable":true},"accountNumber":{"type":"string","description":"Account number that the funds are disbursing to","nullable":true},"accountName":{"type":"string","description":"The name on the account that the funds are disbursing to","nullable":true},"accountType":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.AccountType"},"receivedDate":{"type":"string","description":"The date that the funding instruction was received on. This value will be in UTC","format":"date-time"},"platformReferenceNumber":{"type":"string","description":"The reference number provided by the API caller","nullable":true}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.LoanApplicationAcceptedDto":{"type":"object","properties":{"id":{"type":"string","description":"The id assigned to the application","format":"uuid"},"immediateFundingInstructions":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.FundingInstructionSubmissionResponseDto"},"description":"List of all the immediate funding instructions that were received as part of this request. This includes the Platform Reference Number that was submitted and the Funding Instruction Id to allow the caller to link any webhooks about the funding instruction to this request","nullable":true}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.LoanApplicationBorrowerDto":{"required":["annualIncome","city","dateOfBirth","debt","debtToIncomeRatio","ficoScore","fullName","ssn","state","streetAddress","zipCode"],"type":"object","properties":{"ssn":{"minLength":1,"type":"string","description":"Borrower's SSN. This must be between 9 and 11 characters in length and in a valid SSN format"},"fullName":{"minLength":1,"type":"string","description":"Full name of the borrower. Must be 255 characters long or less"},"dateOfBirth":{"type":"string","description":"Borrower's date of birth. All borrowers must be between 18 and 120 years old on the loan application date","format":"date-time"},"annualIncome":{"type":"number","description":"Annual income of the borrower.","format":"double"},"employerName":{"type":"string","description":"Borrower's employer name","nullable":true},"emailAddress":{"type":"string","description":"Borrower's email address","nullable":true},"schoolName":{"type":"string","description":"Name of the post secondary school the borrower attended","nullable":true},"schoolOpeCode":{"type":"string","description":"The Office of Post Secondary Education (OPE) code for the post secondary school the borrower attended","nullable":true},"schoolGraduationYear":{"type":"integer","description":"Year that the borrower graduated from their post secondary school","format":"int32","nullable":true},"degreeType":{"type":"string","description":"Type of degree the borrower received when graduating from post secondary school","nullable":true},"areaOfStudy":{"type":"string","description":"Area of study for the degree the borrower received","nullable":true},"deceased":{"type":"boolean","description":"Indicates that the borrower is deceased"},"housingStatus":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.HousingStatus"},"streetAddress":{"minLength":1,"type":"string","description":"Street portion of the borrower's primary residence address. Must be 255 characters long or less"},"city":{"minLength":1,"type":"string","description":"City portion of the borrower's primary residence address. Must be 255 characters long or less"},"state":{"minLength":1,"type":"string","description":"State portion of the borrower's primary residence address. Must be 2 characters long"},"zipCode":{"minLength":1,"type":"string","description":"Zip Code portion of the borrower's primary residence address"},"homePhoneNumber":{"type":"string","description":"Borrower's home phone number","nullable":true},"workPhoneNumber":{"type":"string","description":"Borrower's work phone number","nullable":true},"cellPhoneNumber":{"type":"string","description":"Borrower's cell phone number","nullable":true},"ficoScore":{"type":"integer","description":"Borrower's FICO score. Must be between 0 and 1000","format":"int32"},"debtToIncomeRatio":{"type":"number","description":"Borrower's Debt to Income ratio. Must be between 0.00 and 100.00","format":"double"},"debt":{"type":"number","description":"Borrower's amount of Debt. Must be greater than 0.00","format":"double"},"creditInquiryCount":{"type":"integer","description":"Number of credit inquiries for this person. This count can be over any time period (i.e. over the last 6 months). If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/programs.","format":"int32"},"nonTraditionalInquiryCount":{"type":"integer","description":"Number of non-traditional credit inquiries for this person. This count can be over any time period (i.e. over the last 6 months). If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/programs.","format":"int32"},"mortgageDelinquencyCount":{"type":"integer","description":"Number of mortgage delinquencies for this person. This count can be over any time period (i.e. over the last 6 months). If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program.","format":"int32"},"thirtyDayLatePaymentCount":{"type":"integer","description":"Number of payments later than 30 days for this person. This count can be over any time period (i.e. over the last 6 months). If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program.","format":"int32"},"sixtyDayLatePaymentCount":{"type":"integer","description":"Number of payments later than 60 days for this person. This count can be over any time period (i.e. over the last 6 months). If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program.","format":"int32"},"tradeDelinquencyCount":{"type":"integer","description":"Number of Currently DQ Trades (any).  his count can be over any time period (i.e. over the last 24 months) If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program.","format":"int32"},"chargeOffCount":{"type":"integer","description":"Number of Chargeoff in months (excluding collections).  his count can be over any time period (i.e. over the last 24 months) If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program.","format":"int32"},"numberOfMonthsSinceAnyThirtyDayLatePayments":{"type":"integer","description":"Number of months since any thirty day late payments have been recorded. If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program.","format":"int32"},"derogatoryRemarkCount":{"type":"integer","description":"Number of derogatory remarks for this person. This count can be over any time period (i.e. over the last 6 months). If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program.","format":"int32"},"hasFiledForBankruptcy":{"type":"boolean","description":"Has this person had a bankruptcy. This value can be over any time period (i.e. over the last 6 months). If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program."},"monthsSinceBankruptcyFiled":{"type":"integer","description":"Number of months since this person last filed for bankruptcy.","format":"int32"},"monthsSinceBankruptcyDismissed":{"type":"integer","description":"Number of months since this person last had a bankruptcy dismissed.","format":"int32"},"monthsSinceBankruptcyStatusDate":{"type":"integer","description":"Number of months since the last bankruptcy status date.","format":"int32"}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.LoanApplicationBorrowerResponseDto":{"type":"object","properties":{"id":{"type":"string","description":"The id of the borrower that was included on the application. This is unique to this application. If the same borrower is included on many different applications, each of those borrower entries will have a different id value","format":"uuid"},"ssn":{"type":"string","description":"The SSN of the borrower","nullable":true},"fullName":{"type":"string","description":"The full name of the borrower","nullable":true},"dateOfBirth":{"type":"string","description":"The date of birth of the borrower.","format":"date-time"},"annualIncome":{"type":"number","description":"The annual income of the borrower","format":"double"},"employerName":{"type":"string","description":"The name of the borrower's employer","nullable":true},"emailAddress":{"type":"string","description":"The email address of the borrower","nullable":true},"schoolName":{"type":"string","description":"The post secondary school the borrower attended","nullable":true},"schoolOpeCode":{"type":"string","description":"The Office of Post Secondary Education (OPE) code for the post secondary school the borrower attended","nullable":true},"schoolGraduationYear":{"type":"integer","description":"The year that the borrower graduated from their post secondary school","format":"int32","nullable":true},"degreeType":{"type":"string","description":"The type of degree that the borrower received","nullable":true},"areaOfStudy":{"type":"string","description":"The borrower's area of study in post secondary school","nullable":true},"deceased":{"type":"boolean","description":"Indicates that the borrower is deceased"},"housingStatus":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.HousingStatus"},"streetAddress":{"type":"string","description":"The street portion of the borrower's primary residence address","nullable":true},"city":{"type":"string","description":"The city portion of the borrower's primary residence address","nullable":true},"state":{"type":"string","description":"The state portion of the borrower's primary residence address","nullable":true},"zipCode":{"type":"string","description":"The Zip Code portion of the borrower's primary residence address","nullable":true},"homePhoneNumber":{"type":"string","description":"The home phone number of the borrower","nullable":true},"workPhoneNumber":{"type":"string","description":"The work phone number of the borrower","nullable":true},"cellPhoneNumber":{"type":"string","description":"The cell phone number of the borrower","nullable":true},"ficoScore":{"type":"integer","description":"The borrower's FICO score","format":"int32"},"debtToIncomeRatio":{"type":"number","description":"The borrower's debt to income ratio","format":"double"},"creditInquiryCount":{"type":"integer","description":"Number of credit inquiries for this person.","format":"int32"},"chargeOffCount":{"type":"integer","description":"Number of charge off for this person.","format":"int32"},"tradeDelinquencyCount":{"type":"integer","description":"Number of trade delinquencies for this person.","format":"int32"},"sixtyDayLatePaymentCount":{"type":"integer","description":"Number of months since any sixty day late payments have been recorded.","format":"int32"},"nonTraditionalInquiryCount":{"type":"integer","description":"Number of non-traditional credit inquiries for this person.","format":"int32"},"mortgageDelinquencyCount":{"type":"integer","description":"Number of mortgage delinquencies for this person.","format":"int32"},"thirtyDayLatePaymentCount":{"type":"integer","description":"Number of payments later than 30 days for this person.","format":"int32"},"numberOfMonthsSinceAnyThirtyDayLatePayments":{"type":"integer","description":"Number of months since any thirty day late payments have been recorded.","format":"int32"},"derogatoryRemarkCount":{"type":"integer","description":"Number of derogatory remarks for this person.","format":"int32"},"hasFiledForBankruptcy":{"type":"boolean","description":"Has this person had a bankruptcy."},"debt":{"type":"number","description":"Borrower's amount of Debt.","format":"double","nullable":true},"monthsSinceBankruptcyFiled":{"type":"integer","description":"Number of months since this person last filed for bankruptcy.","format":"int32"},"monthsSinceBankruptcyDismissed":{"type":"integer","description":"Number of months since this person last had a bankruptcy dismissed.","format":"int32"},"monthsSinceBankruptcyStatusDate":{"type":"integer","description":"Number of months since the last bankruptcy status date.","format":"int32"}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.LoanApplicationContractorDto":{"required":["ein","name"],"type":"object","properties":{"name":{"minLength":1,"type":"string","description":"Contractor's name. Maximum length of 255 characters"},"ein":{"minLength":1,"type":"string","description":"Contractor's EIN or SSN. This must follow the ##-####### pattern (for EIN), or ###-##-#### (for SSN). Additional validation checking for invalid values will be applied"}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.LoanApplicationContractorResponseDto":{"type":"object","properties":{"name":{"type":"string","description":"Contractor's name","nullable":true},"ein":{"type":"string","description":"Contractor's EIN","nullable":true}},"additionalProperties":false},"Cubi.ConsumerLending.WebApi.Dto.LoanApplicationCosignerDto":{"required":["annualIncome","city","dateOfBirth","debt","debtToIncomeRatio","ficoScore","fullName","ssn","state","streetAddress","zipCode"],"type":"object","properties":{"ssn":{"minLength":1,"type":"string","description":"Cosigner's SSN. This must be between 9 and 11 characters in length and in a valid SSN format"},"fullName":{"minLength":1,"type":"string","description":"Full name of the cosigner. Must be 255 characters long or less"},"dateOfBirth":{"type":"string","description":"Cosigner's date of birth. All cosigners must be between 18 and 120 years old on the loan application date","format":"date-time"},"annualIncome":{"type":"number","description":"Annual income of the cosigner.","format":"double"},"employerName":{"type":"string","description":"Cosigner's employer name","nullable":true},"emailAddress":{"type":"string","description":"Cosigner's email address","nullable":true},"schoolName":{"type":"string","description":"Name of the post secondary school the cosigner attended","nullable":true},"schoolOpeCode":{"type":"string","description":"The Office of Post Secondary Education (OPE) code for the post secondary school the cosigner attended","nullable":true},"schoolGraduationYear":{"type":"integer","description":"Year that the cosigner graduated from their post secondary school","format":"int32","nullable":true},"degreeType":{"type":"string","description":"Type of degree the cosigner received when graduating from post secondary school","nullable":true},"areaOfStudy":{"type":"string","description":"Area of study for the degree the cosigner received","nullable":true},"deceased":{"type":"boolean","description":"Indicates that the cosigner is deceased"},"housingStatus":{"$ref":"#/components/schemas/Cubi.ConsumerLending.WebApi.Dto.HousingStatus"},"streetAddress":{"minLength":1,"type":"string","description":"Street portion of the cosigner's primary residence address. Must be 255 characters long or less"},"city":{"minLength":1,"type":"string","description":"City portion of the cosigner's primary residence address. Must be 255 characters long or less"},"state":{"minLength":1,"type":"string","description":"State portion of the cosigner's primary residence address. Must be 2 characters long"},"zipCode":{"minLength":1,"type":"string","description":"Zip Code portion of the cosigner's primary residence address"},"homePhoneNumber":{"type":"string","description":"Cosigner's home phone number","nullable":true},"workPhoneNumber":{"type":"string","description":"Cosigner's work phone number","nullable":true},"cellPhoneNumber":{"type":"string","description":"Cosigner's cell phone number","nullable":true},"ficoScore":{"type":"integer","description":"Cosigner's FICO score. Must be between 0 and 1000","format":"int32"},"debtToIncomeRatio":{"type":"number","description":"Cosigner's Debt to Income ratio. Must be between 0.00 and 100.00","format":"double"},"debt":{"type":"number","description":"Cosigner's amount of Debt. Must be greater than 0.00","format":"double"},"creditInquiryCount":{"type":"integer","description":"Number of credit inquiries for this person. This count can be over any time period (i.e. over the last 6 months). If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/programs.","format":"int32"},"sixtyDayLatePaymentCount":{"type":"integer","description":"Number of payments later than 60 days for this person. This count can be over any time period (i.e. over the last 6 months). If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program.","format":"int32"},"tradeDelinquencyCount":{"type":"integer","description":"Number of Currently DQ Trades (any).  his count can be over any time period (i.e. over the last 24 months) If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/program.","format":"int32"},"chargeOffCount":{"type":"integer","description":"Number of Chargeoff in months (excluding collections).  his count can be over any time period (i.e. over the last 24 months) If this value is being used as part of a policy/program approval rule, then the inclusion of this data and the time period it represents needs to be consistent across all loan applications within that policy/prog
[...]
