openapi: 3.2.0
info:
  title: Customers Bank Reference Data API
  version: v1
  description: 'Operations tagged ReferenceData across 2 of this provider''s published API definitions: customers-bank-accounts-openapi.json, customers-bank-ach-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://cubi-sandbox-api.customersbank.com/accounts/v1
- url: https://cubi-sandbox-api.customersbank.com/ach/v1
tags:
- name: ReferenceData
  description: Returns accounts related codes and definitions
paths:
  /reference-data:
    get:
      tags:
      - ReferenceData
      summary: /reference-data - GET
      description: Returns accounts related codes and definitions
      operationId: get-reference-data
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Cubi.Accounts.WebApi.Dto.ReferenceDataDto'
              examples:
                default:
                  value: null
            application/json:
              schema:
                $ref: '#/components/schemas/Cubi.Accounts.WebApi.Dto.ReferenceDataDto'
              example:
                balanceModes:
                - string
                customerTypes:
                - string
                accountControlTypes:
                - string
                accountStates:
                - string
                transactionRails:
                - string
                subaccountStatuses:
                - string
            text/json:
              schema:
                $ref: '#/components/schemas/Cubi.Accounts.WebApi.Dto.ReferenceDataDto'
              example:
                balanceModes:
                - string
                customerTypes:
                - string
                accountControlTypes:
                - string
                accountStates:
                - string
                transactionRails:
                - string
                subaccountStatuses:
                - string
        '400':
          description: BadRequest
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.1
                title: One or more validation errors occurred.
                status: 400
                traceId: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.2
                title: Unauthorized
                status: 401
                traceId: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.5.4
                title: Forbidden
                status: 403
                traceId: string
        '500':
          description: InternalServerError
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
              example:
                type: https://tools.ietf.org/html/rfc9110#section-15.6.1
                title: An error occurred while processing your request.
                status: 500
                traceId: string
    servers:
    - url: https://cubi-sandbox-api.customersbank.com/accounts/v1
components:
  schemas:
    Microsoft.AspNetCore.Mvc.ValidationProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        traceId:
          type:
          - string
          - 'null'
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
      additionalProperties: {}
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        traceId:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Cubi.Accounts.WebApi.Dto.ReferenceDataDto:
      type: object
      properties:
        balanceModes:
          type: array
          items:
            type: string
          description: Allowed values for Cubi.Accounts.WebApi.Dto.SubaccountDto.BalanceMode.
        customerTypes:
          type: array
          items:
            type: string
          description: Allowed values for Cubi.Accounts.WebApi.Dto.CustomerDto.CustomerType.
        accountControlTypes:
          type: array
          items:
            type: string
          description: Allowed values for Cubi.Accounts.WebApi.Dto.AccountDto.ControlType.
        accountStates:
          type: array
          items:
            type: string
          description: Possible values for Cubi.Accounts.WebApi.Dto.GetAccountDto.State.
        transactionRails:
          type: array
          items:
            type: string
          description: Possible values for Cubi.Accounts.WebApi.Dto.TransactionDto.Rail.
        subaccountStatuses:
          type: array
          items:
            type: string
          description: Possible values for Cubi.Accounts.WebApi.Dto.SubaccountDto.Status.
      additionalProperties: false
    Cubi.Ach.WebApi.Dto.ReferenceDataDto:
      type: object
      properties:
        nachaCodes:
          $ref: '#/components/schemas/Cubi.Ach.WebApi.Dto.NachaCodesDto'
      additionalProperties: false
    Cubi.Ach.WebApi.Dto.NachaCodesDto:
      type: object
      properties:
        returnCodes:
          type: array
          items:
            $ref: '#/components/schemas/Cubi.Ach.WebApi.Dto.ReferenceDataDetailDto'
      additionalProperties: false
    Cubi.Ach.WebApi.Dto.ReferenceDataDetailDto:
      type: object
      properties:
        code:
          type: string
        description:
          type:
          - string
          - 'null'
      additionalProperties: false
x-refined-from:
- customers-bank-accounts-openapi.json
- customers-bank-ach-openapi.json
x-readme:
  explorer-enabled: false
  proxy-enabled: true
