{"openapi":"3.0.1","info":{"title":"Partners","version":"v1"},"servers":[{"url":"https://cubi-sandbox-api.customersbank.com/partners/v1"}],"paths":{"/apiAccess":{"get":{"tags":["NonAdmin"],"summary":"/apiAccess - GET","operationId":"get-apiaccess","responses":{"200":{"description":"OK"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Messages":{"get":{"tags":["Messages"],"summary":"/Messages - GET","operationId":"get-messages","parameters":[{"name":"activeOn","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.MessageDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.MessageDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"messageText":"string","type":"Banner"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.MessageDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"messageText":"string","type":"Banner"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/":{"get":{"tags":["Partners"],"summary":"/ - GET","operationId":"get","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerDto"},"example":{"id":"string","name":"string","isFrozen":true,"apiProducts":[{"id":"string","name":"string","isEnabled":true}],"isApiCredentialsEnabled":true,"isAddressBookEnabled":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerDto"},"example":{"id":"string","name":"string","isFrozen":true,"apiProducts":[{"id":"string","name":"string","isEnabled":true}],"isApiCredentialsEnabled":true,"isAddressBookEnabled":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/credentials":{"get":{"tags":["Partners"],"summary":"/credentials - GET","operationId":"get-credentials","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerCredentialDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerCredentialDto"},"example":{"keyId":"string","displayName":"string","startDateTime":"string","endDateTime":"string","hint":"string","secretText":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerCredentialDto"},"example":{"keyId":"string","displayName":"string","startDateTime":"string","endDateTime":"string","hint":"string","secretText":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"post":{"tags":["Partners"],"summary":"/credentials - POST","operationId":"post-credentials","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"d5812a08-a251-4bc3-98e2-3d5d54dd468c"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.AddPartnerCredentialDto"},"example":{"displayName":"string","startDateTime":"string","endDateTime":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.AddPartnerCredentialDto"},"example":{"displayName":"string","startDateTime":"string","endDateTime":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.AddPartnerCredentialDto"},"example":{"displayName":"string","startDateTime":"string","endDateTime":"string"}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerCredentialDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerCredentialDto"},"example":{"keyId":"string","displayName":"string","startDateTime":"string","endDateTime":"string","hint":"string","secretText":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerCredentialDto"},"example":{"keyId":"string","displayName":"string","startDateTime":"string","endDateTime":"string","hint":"string","secretText":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/credentials/{id}":{"delete":{"tags":["Partners"],"summary":"/credentials/{id} - DELETE","operationId":"delete-credentials-id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Users":{"post":{"tags":["Users"],"summary":"/Users - POST","operationId":"post-users","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"df05bcae-1658-432f-9857-65749b707122"}],"requestBody":{"description":"User to be created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserCreationDto"},"example":{"name":"string","firstName":"string","lastName":"string","email":"string","isAdmin":true,"isAddressBookAdmin":true,"showApi":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserCreationDto"},"example":{"name":"string","firstName":"string","lastName":"string","email":"string","isAdmin":true,"isAddressBookAdmin":true,"showApi":true}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserCreationDto"},"example":{"name":"string","firstName":"string","lastName":"string","email":"string","isAdmin":true,"isAddressBookAdmin":true,"showApi":true}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"get":{"tags":["Users"],"summary":"/Users - GET","operationId":"get-users","parameters":[{"name":"userName","in":"query","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.UserDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.UserDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","partnerId":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isPrimaryAdmin":true,"isAddressBookAdmin":true,"accountEnabled":true,"email":"string","lastLoggedInAt":"string","roles":["string"],"showApi":true,"isFrozen":true}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.UserDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","partnerId":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isPrimaryAdmin":true,"isAddressBookAdmin":true,"accountEnabled":true,"email":"string","lastLoggedInAt":"string","roles":["string"],"showApi":true,"isFrozen":true}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"put":{"tags":["Users"],"summary":"/Users - PUT","operationId":"put-users","requestBody":{"description":"User to be updated","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserUpdateDto"},"example":{"id":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isFrozen":true,"roles":["string"],"isAddressBookAdmin":true,"showApi":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserUpdateDto"},"example":{"id":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isFrozen":true,"roles":["string"],"isAddressBookAdmin":true,"showApi":true}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserUpdateDto"},"example":{"id":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isFrozen":true,"roles":["string"],"isAddressBookAdmin":true,"showApi":true}}}},"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Users/{userId}":{"delete":{"tags":["Users"],"summary":"/Users/{userId} - DELETE","operationId":"delete-users-userid","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/users/me":{"get":{"tags":["NonAdmin"],"summary":"/users/me - GET","operationId":"get-users-me","responses":{"200":{"description":"OK"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Messages/download":{"get":{"tags":["Messages"],"summary":"/Messages/download - GET","operationId":"get-messages-download","parameters":[{"name":"activeOn","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.MessageDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.MessageDto"}},"example":[{"messageText":"string","type":"Banner"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.MessageDto"}},"example":[{"messageText":"string","type":"Banner"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Users/download":{"get":{"tags":["Users"],"summary":"/Users/download - GET","operationId":"get-users-download","parameters":[{"name":"userName","in":"query","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.UserDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.UserDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","partnerId":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isPrimaryAdmin":true,"isAddressBookAdmin":true,"accountEnabled":true,"email":"string","lastLoggedInAt":"string","roles":["string"],"showApi":true,"isFrozen":true}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.UserDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","partnerId":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isPrimaryAdmin":true,"isAddressBookAdmin":true,"accountEnabled":true,"email":"string","lastLoggedInAt":"string","roles":["string"],"showApi":true,"isFrozen":true}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Users/{id}":{"get":{"tags":["Users"],"summary":"/Users/{id} - GET","operationId":"get-users-id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"includeLastLoggedInAt","in":"query","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserDto"},"example":{"id":"string","partnerId":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isPrimaryAdmin":true,"isAddressBookAdmin":true,"accountEnabled":true,"email":"string","lastLoggedInAt":"string","roles":["string"],"showApi":true,"isFrozen":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserDto"},"example":{"id":"string","partnerId":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isPrimaryAdmin":true,"isAddressBookAdmin":true,"accountEnabled":true,"email":"string","lastLoggedInAt":"string","roles":["string"],"showApi":true,"isFrozen":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/users/me/logout":{"post":{"tags":["NonAdmin"],"summary":"/users/me/logout - POST","operationId":"post-users-me-logout","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","schema":{"type":"string","format":"uuid"},"example":"c2d59aa3-02f0-4983-a275-95d9626a33e5"}],"responses":{"200":{"description":"OK"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Users/email":{"get":{"tags":["Users"],"summary":"/Users/email - GET","operationId":"get-users-email","parameters":[{"name":"email","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserDto"},"example":{"id":"string","partnerId":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isPrimaryAdmin":true,"isAddressBookAdmin":true,"accountEnabled":true,"email":"string","lastLoggedInAt":"string","roles":["string"],"showApi":true,"isFrozen":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserDto"},"example":{"id":"string","partnerId":"string","name":"string","firstName":"string","lastName":"string","isAdmin":true,"isPrimaryAdmin":true,"isAddressBookAdmin":true,"accountEnabled":true,"email":"string","lastLoggedInAt":"string","roles":["string"],"showApi":true,"isFrozen":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/user-settings/{settingName}":{"get":{"tags":["UserSettings"],"summary":"/user-settings/{settingName} - GET","operationId":"get-user-settings-settingname","parameters":[{"name":"settingName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"put":{"tags":["UserSettings"],"summary":"/user-settings/{settingName} - PUT","operationId":"put-user-settings-settingname","parameters":[{"name":"settingName","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserSettingDto"},"example":{"settingName":"string","settingValue":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserSettingDto"},"example":{"settingName":"string","settingValue":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserSettingDto"},"example":{"settingName":"string","settingValue":"string"}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"type":"string","format":"uuid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"string","format":"uuid"},"example":"string"},"text/json":{"schema":{"type":"string","format":"uuid"},"example":"string"}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/users/login":{"post":{"tags":["NonAdmin"],"summary":"/users/login - POST","operationId":"post-users-login","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"4ce3df65-f67c-4544-8786-7ca811b47abf"}],"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/notification-email/verify":{"post":{"tags":["NotificationEmail"],"summary":"/notification-email/verify - POST","operationId":"post-notification-email-verify","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"0204acf9-9a26-41cc-9723-15eed2d24299"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.VerifyNotificationEmailDto"},"example":{"verificationCode":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.VerifyNotificationEmailDto"},"example":{"verificationCode":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.VerifyNotificationEmailDto"},"example":{"verificationCode":"string"}}}},"responses":{"200":{"description":"OK"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/notification-email/send-code":{"post":{"tags":["NotificationEmail"],"summary":"/notification-email/send-code - POST","operationId":"post-notification-email-send-code","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"49c93d4d-de92-4a94-b38a-331b254a56ab"}],"responses":{"200":{"description":"OK"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/notification-email":{"get":{"tags":["NotificationEmail"],"summary":"/notification-email - GET","operationId":"get-notification-email","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.NotificationEmailSettingsDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.NotificationEmailSettingsDto"},"example":{"id":"string","partnerId":"string","notificationEmail":"string","isVerified":true,"verificationCode":"string","expiresAt":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.NotificationEmailSettingsDto"},"example":{"id":"string","partnerId":"string","notificationEmail":"string","isVerified":true,"verificationCode":"string","expiresAt":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"put":{"tags":["NotificationEmail"],"summary":"/notification-email - PUT","operationId":"put-notification-email","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UpdateNotificationEmailDto"},"example":{"notificationEmail":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UpdateNotificationEmailDto"},"example":{"notificationEmail":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UpdateNotificationEmailDto"},"example":{"notificationEmail":"string"}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/client-credentials":{"post":{"tags":["ClientCredentials"],"summary":"/client-credentials - POST","description":"Creates a new client credential for the partner.","operationId":"post-client-credentials","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"7784eb6f-c1b2-4c76-a53a-b81227de0669"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.CreateClientCredentialDto"},"example":{"displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.CreateClientCredentialDto"},"example":{"displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.CreateClientCredentialDto"},"example":{"displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string"}}}},"responses":{"201":{"description":"Created","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialCreatedDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialCreatedDto"},"example":{"clientId":"string","clientSecret":"string","displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string","createdAt":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialCreatedDto"},"example":{"clientId":"string","clientSecret":"string","displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string","createdAt":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"get":{"tags":["ClientCredentials"],"summary":"/client-credentials - GET","description":"Gets all client credentials for the partner.","operationId":"get-client-credentials","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto"}},"example":[{"clientId":"string","secretHint":"string","displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string","createdAt":"string"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto"}},"example":[{"clientId":"string","secretHint":"string","displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string","createdAt":"string"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/client-credentials/me":{"get":{"tags":["ClientCredentials"],"summary":"/client-credentials/me - GET","description":"Gets the client credential for the calling M2M application (from JWT).","operationId":"get-client-credentials-me","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto"},"example":{"clientId":"string","secretHint":"string","displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string","createdAt":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto"},"example":{"clientId":"string","secretHint":"string","displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string","createdAt":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/client-credentials/{clientId}":{"get":{"tags":["ClientCredentials"],"summary":"/client-credentials/{clientId} - GET","description":"Gets a specific client credential by client ID.","operationId":"get-client-credentials-clientid","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto"},"example":{"clientId":"string","secretHint":"string","displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string","createdAt":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto"},"example":{"clientId":"string","secretHint":"string","displayName":"string","description":"string","roles":["string"],"isCredentialManager":true,"startDate":"string","endDate":"string","createdAt":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"put":{"tags":["ClientCredentials"],"summary":"/client-credentials/{clientId} - PUT","description":"Updates the roles for a specific client credential.","operationId":"put-client-credentials-clientid","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.UpdateClientCredentialDto"},"example":{"roles":["string"],"isCredentialManager":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.UpdateClientCredentialDto"},"example":{"roles":["string"],"isCredentialManager":true}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.UpdateClientCredentialDto"},"example":{"roles":["string"],"isCredentialManager":true}}}},"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"delete":{"tags":["ClientCredentials"],"summary":"/client-credentials/{clientId} - DELETE","description":"Deletes a specific client credential. Self-delete is not allowed.","operationId":"delete-client-credentials-clientid","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/client-credentials/me/rotate":{"post":{"tags":["ClientCredentials"],"summary":"/client-credentials/me/rotate - POST","description":"Rotates the client secret for the calling M2M application (from JWT).","operationId":"post-client-credentials-me-rotate","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"2eb136f8-e422-456a-8f7d-f05a11a9a3e7"}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialRotatedDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialRotatedDto"},"example":{"secretId":"string","clientSecret":"string","startDate":"string","endDate":"string","createdAt":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialRotatedDto"},"example":{"secretId":"string","clientSecret":"string","startDate":"string","endDate":"string","createdAt":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/client-credentials/{clientId}/rotate":{"post":{"tags":["ClientCredentials"],"summary":"/client-credentials/{clientId}/rotate - POST","description":"Rotates the client secret for a specific client credential.","operationId":"post-client-credentials-clientid-rotate","parameters":[{"name":"clientId","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"fba64993-2eca-480d-a02a-f0ce5785d3f9"}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialRotatedDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialRotatedDto"},"example":{"secretId":"string","clientSecret":"string","startDate":"string","endDate":"string","createdAt":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialRotatedDto"},"example":{"secretId":"string","clientSecret":"string","startDate":"string","endDate":"string","createdAt":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/auth-provider":{"get":{"tags":["HomeRealmDiscovery"],"summary":"/auth-provider - GET","operationId":"get-auth-provider","parameters":[{"name":"userEmail","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerAuthSettingsDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerAuthSettingsDto"},"example":{"isSyncEnabled":true,"authProvider":"string","isAuth0ClientCredentialsEnabled":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerAuthSettingsDto"},"example":{"isSyncEnabled":true,"authProvider":"string","isAuth0ClientCredentialsEnabled":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/auth-settings":{"get":{"tags":["Partners"],"summary":"/auth-settings - GET","operationId":"get-auth-settings","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerAuthSettingsDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerAuthSettingsDto"},"example":{"isSyncEnabled":true,"authProvider":"string","isAuth0ClientCredentialsEnabled":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerAuthSettingsDto"},"example":{"isSyncEnabled":true,"authProvider":"string","isAuth0ClientCredentialsEnabled":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Users/me/access/check":{"post":{"tags":["Users"],"summary":"/Users/me/access/check - POST","operationId":"post-users-me-access-check","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","schema":{"type":"string","format":"uuid"},"example":"6b89e8f4-7a6f-430a-aba0-c4ab5a0a1e49"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserAccessCheck.AccessCheckDto"},"example":{"resource":"resource:user","action":"reader"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserAccessCheck.AccessCheckDto"},"example":{"resource":"resource:user","action":"reader"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserAccessCheck.AccessCheckDto"},"example":{"resource":"resource:user","action":"reader"}}}},"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserAccessCheck.AccessDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserAccessCheck.AccessDto"},"example":{"hasAccess":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserAccessCheck.AccessDto"},"example":{"hasAccess":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/homerealmdiscovery":{"get":{"tags":["HomeRealmDiscovery"],"summary":"/homerealmdiscovery - GET","operationId":"get-homerealmdiscovery","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.FeatureFlagsDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.FeatureFlagsDto"},"example":{"isHomeRealmDiscoveryEnabled":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.FeatureFlagsDto"},"example":{"isHomeRealmDiscoveryEnabled":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}}},"components":{"schemas":{"Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.MessageDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.MessageDto"}}},"additionalProperties":false},"Cubi.Common.Abstractions.Paginated_Cubi.Partners.WebApi.Dtos.UserDto":{"type":"object","properties":{"pageSize":{"type":"integer","format":"int32"},"pageOffset":{"type":"integer","format":"int32"},"totalPages":{"type":"integer","format":"int32"},"totalItemCount":{"type":"integer","format":"int32"},"items":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.UserDto"}}},"additionalProperties":false},"Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid":{"type":"object","properties":{"id":{"type":"string","format":"uuid"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.AddPartnerCredentialDto":{"type":"object","properties":{"displayName":{"type":"string","nullable":true},"startDateTime":{"type":"string","format":"date-time","nullable":true},"endDateTime":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialCreatedDto":{"required":["clientId","clientSecret","displayName"],"type":"object","properties":{"clientId":{"type":"string"},"clientSecret":{"type":"string"},"displayName":{"type":"string"},"description":{"type":"string","nullable":true},"roles":{"type":"array","items":{"type":"string"}},"isCredentialManager":{"type":"boolean"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialDto":{"required":["clientId","displayName","secretHint"],"type":"object","properties":{"clientId":{"type":"string"},"secretHint":{"type":"string"},"displayName":{"type":"string"},"description":{"type":"string","nullable":true},"roles":{"type":"array","items":{"type":"string"}},"isCredentialManager":{"type":"boolean"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.ClientCredentials.ClientCredentialRotatedDto":{"required":["clientSecret","secretId"],"type":"object","properties":{"secretId":{"type":"string"},"clientSecret":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.ClientCredentials.CreateClientCredentialDto":{"required":["displayName"],"type":"object","properties":{"displayName":{"type":"string"},"description":{"type":"string","nullable":true},"roles":{"type":"array","items":{"type":"string"}},"isCredentialManager":{"type":"boolean"},"startDate":{"type":"string","format":"date-time","nullable":true},"endDate":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.ClientCredentials.UpdateClientCredentialDto":{"type":"object","properties":{"roles":{"type":"array","items":{"type":"string"}},"isCredentialManager":{"type":"boolean"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.FeatureFlagsDto":{"type":"object","properties":{"isHomeRealmDiscoveryEnabled":{"type":"boolean"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.MessageDto":{"type":"object","properties":{"messageText":{"type":"string","nullable":true},"type":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.MessageType"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.MessageType":{"enum":["Banner","Advisory"],"type":"string"},"Cubi.Partners.WebApi.Dtos.NotificationEmailSettingsDto":{"required":["notificationEmail"],"type":"object","properties":{"id":{"type":"string","format":"uuid"},"partnerId":{"type":"string","format":"uuid"},"notificationEmail":{"type":"string"},"isVerified":{"type":"boolean"},"verificationCode":{"type":"string","nullable":true},"expiresAt":{"type":"string","format":"date-time","nullable":true}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.PartnerApiProductDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","nullable":true},"isEnabled":{"type":"boolean"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.PartnerAuthSettingsDto":{"type":"object","properties":{"isSyncEnabled":{"type":"boolean"},"authProvider":{"type":"string","nullable":true},"isAuth0ClientCredentialsEnabled":{"type":"boolean"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.PartnerCredentialDto":{"type":"object","properties":{"keyId":{"type":"string","format":"uuid"},"displayName":{"type":"string","nullable":true},"startDateTime":{"type":"string","format":"date-time"},"endDateTime":{"type":"string","format":"date-time"},"hint":{"type":"string","nullable":true},"secretText":{"type":"string","nullable":true}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.PartnerDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","nullable":true},"isFrozen":{"type":"boolean"},"apiProducts":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Partners.WebApi.Dtos.PartnerApiProductDto"}},"isApiCredentialsEnabled":{"type":"boolean"},"isAddressBookEnabled":{"type":"boolean"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.UpdateNotificationEmailDto":{"type":"object","properties":{"notificationEmail":{"type":"string"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.UserAccessCheck.AccessCheckDto":{"type":"object","properties":{"resource":{"type":"string","description":"Resource to check access for.","nullable":true,"example":"resource:user"},"action":{"type":"string","description":"Action to check access for.","nullable":true,"example":"reader"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.UserAccessCheck.AccessDto":{"type":"object","properties":{"hasAccess":{"type":"boolean"}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.UserCreationDto":{"type":"object","properties":{"name":{"type":"string","nullable":true,"deprecated":true},"firstName":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"email":{"type":"string","nullable":true},"isAdmin":{"type":"boolean","nullable":true},"isAddressBookAdmin":{"type":"boolean","nullable":true},"showApi":{"type":"boolean","nullable":true,"deprecated":true}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.UserDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid","nullable":true},"partnerId":{"type":"string","format":"uuid","nullable":true},"name":{"type":"string","description":"The user's name","nullable":true,"deprecated":true},"firstName":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"isAdmin":{"type":"boolean","nullable":true},"isPrimaryAdmin":{"type":"boolean","nullable":true},"isAddressBookAdmin":{"type":"boolean","nullable":true},"accountEnabled":{"type":"boolean","nullable":true},"email":{"type":"string","nullable":true},"lastLoggedInAt":{"type":"string","format":"date-time"},"roles":{"type":"array","items":{"type":"string"}},"showApi":{"type":"boolean","nullable":true,"deprecated":true},"isFrozen":{"type":"boolean","nullable":true}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.UserSettingDto":{"type":"object","properties":{"settingName":{"type":"string","nullable":true},"settingValue":{"type":"string","nullable":true}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.UserUpdateDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string","nullable":true,"deprecated":true},"firstName":{"type":"string","nullable":true},"lastName":{"type":"string","nullable":true},"isAdmin":{"type":"boolean","nullable":true},"isFrozen":{"type":"boolean","nullable":true},"roles":{"type":"array","items":{"type":"string"}},"isAddressBookAdmin":{"type":"boolean","nullable":true},"showApi":{"type":"boolean","nullable":true,"deprecated":true}},"additionalProperties":false},"Cubi.Partners.WebApi.Dtos.VerifyNotificationEmailDto":{"type":"object","properties":{"verificationCode":{"type":"string"}},"additionalProperties":false},"Microsoft.AspNetCore.Mvc.ProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"traceId":{"type":"string","nullable":true}},"additionalProperties":{}},"Microsoft.AspNetCore.Mvc.ValidationProblemDetails":{"type":"object","properties":{"type":{"type":"string","nullable":true},"title":{"type":"string","nullable":true},"status":{"type":"integer","format":"int32","nullable":true},"detail":{"type":"string","nullable":true},"traceId":{"type":"string","nullable":true},"errors":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}},"additionalProperties":{}}}},"x-readme":{"explorer-enabled":false,"proxy-enabled":true}}