{"openapi":"3.0.1","info":{"title":"Accounts","version":"v1"},"servers":[{"url":"https://cubi-sandbox-api.customersbank.com/accounts/v1"}],"paths":{"/{accountId}":{"put":{"tags":["Accounts"],"summary":"/{accountId} - PUT","operationId":"put-accountid","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Account update payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateAccountDto"},"example":{"name":"string","searchable":true,"controlType":"Single"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateAccountDto"},"example":{"name":"string","searchable":true,"controlType":"Single"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateAccountDto"},"example":{"name":"string","searchable":true,"controlType":"Single"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"get":{"tags":["Accounts"],"summary":"/{accountId} - GET","description":"Get an account","operationId":"get-accountid","parameters":[{"name":"accountId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.GetAccountDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.GetAccountDto"},"example":{"id":"string","ibsAccountNumber":"string","name":"string","searchable":true,"controlType":"Single","modifiedAt":"string","createdAt":"string","partnerId":"string","version":"string","isFrozen":true,"isDeleted":true,"availableBalance":0,"balance":0,"state":"Closed","additionalBalances":{"relatedAvailableBalance":0,"totalAccessibleBalance":0}}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.GetAccountDto"},"example":{"id":"string","ibsAccountNumber":"string","name":"string","searchable":true,"controlType":"Single","modifiedAt":"string","createdAt":"string","partnerId":"string","version":"string","isFrozen":true,"isDeleted":true,"availableBalance":0,"balance":0,"state":"Closed","additionalBalances":{"relatedAvailableBalance":0,"totalAccessibleBalance":0}}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/":{"get":{"tags":["Accounts"],"summary":"/ - GET","description":"Get a list of accounts","operationId":"get","parameters":[{"name":"accountName","in":"query","description":"","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}},{"name":"balances","in":"query","description":"","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.AccountDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.AccountDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","name":"string","accountNumber":"string","isSearchable":true,"isFrozen":true,"controlType":"Single","availableBalance":0,"balance":0,"additionalBalances":{"relatedAvailableBalance":0,"totalAccessibleBalance":0},"balanceMode":"Reserved"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.AccountDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","name":"string","accountNumber":"string","isSearchable":true,"isFrozen":true,"controlType":"Single","availableBalance":0,"balance":0,"additionalBalances":{"relatedAvailableBalance":0,"totalAccessibleBalance":0},"balanceMode":"Reserved"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/{accountId}/transactions":{"get":{"tags":["Accounts"],"summary":"/{accountId}/transactions - GET","description":"Search transactions for an account","operationId":"get-accountid-transactions","parameters":[{"name":"accountId","in":"path","description":"","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"fromDate","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"toDate","in":"query","schema":{"type":"string","format":"date-time"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.TransactionSearchResultsDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.TransactionSearchResultsDto"},"example":{"transactions":[{"description":"string","transactionCode":"string","transactionCodeDescription":"string","effectiveDate":"string","postingDate":"string","amount":0,"serialNumber":"string","controlNumber":"string","confirmationNumber":"string","transactionType":"string","rail":"BookTransfer","id":"string","coreTransactionId":"string","processedAt":"string","checkNumber":"string","bai2TransactionCode":"string"}],"hasMorePages":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.TransactionSearchResultsDto"},"example":{"transactions":[{"description":"string","transactionCode":"string","transactionCodeDescription":"string","effectiveDate":"string","postingDate":"string","amount":0,"serialNumber":"string","controlNumber":"string","confirmationNumber":"string","transactionType":"string","rail":"BookTransfer","id":"string","coreTransactionId":"string","processedAt":"string","checkNumber":"string","bai2TransactionCode":"string"}],"hasMorePages":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/download":{"get":{"tags":["Accounts"],"summary":"/download - GET","description":"Download a list of all accounts","operationId":"get-download","parameters":[{"name":"accountName","in":"query","description":"","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}},{"name":"balances","in":"query","description":"","schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.AccountDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.AccountDto"}},"example":[{"id":"string","name":"string","accountNumber":"string","isSearchable":true,"isFrozen":true,"controlType":"Single","availableBalance":0,"balance":0,"additionalBalances":{"relatedAvailableBalance":0,"totalAccessibleBalance":0},"balanceMode":"Reserved"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.AccountDto"}},"example":[{"id":"string","name":"string","accountNumber":"string","isSearchable":true,"isFrozen":true,"controlType":"Single","availableBalance":0,"balance":0,"additionalBalances":{"relatedAvailableBalance":0,"totalAccessibleBalance":0},"balanceMode":"Reserved"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/{accountId}/InterestPayments":{"post":{"tags":["InterestPayments"],"summary":"/{accountId}/InterestPayments - POST","operationId":"post-accountid-interestpayments","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"6a788875-be89-43ce-b6b1-580183430897"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.InterestPaymentDto"},"example":{"amount":0,"description":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.InterestPaymentDto"},"example":{"amount":0,"description":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.InterestPaymentDto"},"example":{"amount":0,"description":"string"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"get":{"tags":["InterestPayments"],"summary":"/{accountId}/InterestPayments - GET","operationId":"get-accountid-interestpayments","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.TransactionDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.TransactionDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"description":"string","transactionCode":"string","transactionCodeDescription":"string","effectiveDate":"string","postingDate":"string","amount":0,"serialNumber":"string","controlNumber":"string","confirmationNumber":"string","transactionType":"string","rail":"BookTransfer","id":"string","coreTransactionId":"string","processedAt":"string","checkNumber":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.TransactionDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"description":"string","transactionCode":"string","transactionCodeDescription":"string","effectiveDate":"string","postingDate":"string","amount":0,"serialNumber":"string","controlNumber":"string","confirmationNumber":"string","transactionType":"string","rail":"BookTransfer","id":"string","coreTransactionId":"string","processedAt":"string","checkNumber":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/{accountId}/InterestPayments/{interestPaymentId}":{"get":{"tags":["InterestPayments"],"summary":"/{accountId}/InterestPayments/{interestPaymentId} - GET","operationId":"get-accountid-interestpayments-interestpaymentid","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"interestPaymentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.TransactionDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.TransactionDto"},"example":{"description":"string","transactionCode":"string","transactionCodeDescription":"string","effectiveDate":"string","postingDate":"string","amount":0,"serialNumber":"string","controlNumber":"string","confirmationNumber":"string","transactionType":"string","rail":"BookTransfer","id":"string","coreTransactionId":"string","processedAt":"string","checkNumber":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.TransactionDto"},"example":{"description":"string","transactionCode":"string","transactionCodeDescription":"string","effectiveDate":"string","postingDate":"string","amount":0,"serialNumber":"string","controlNumber":"string","confirmationNumber":"string","transactionType":"string","rail":"BookTransfer","id":"string","coreTransactionId":"string","processedAt":"string","checkNumber":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/{accountId}/searchable":{"put":{"tags":["Accounts"],"summary":"/{accountId}/searchable - PUT","operationId":"put-accountid-searchable","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"Account searchable update payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateAccountSearchableDto"},"example":{"searchable":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateAccountSearchableDto"},"example":{"searchable":true}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateAccountSearchableDto"},"example":{"searchable":true}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Customers":{"get":{"tags":["Customers"],"summary":"/Customers - GET","description":"Get a list of customers for the caller's partner","operationId":"get-customers","parameters":[{"name":"name","in":"query","description":"Optional name fragment to filter customers by","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.CustomerDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.CustomerDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","name":"string","customerType":"Personal","address":{"id":"string","addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.CustomerDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","name":"string","customerType":"Personal","address":{"id":"string","addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"post":{"tags":["Customers"],"summary":"/Customers - POST","description":"Creates a new customer","operationId":"post-customers","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"f02e3d30-71a8-4d05-8ec5-bbda1cf75da1"}],"requestBody":{"description":"The customer to create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateCustomerDto"},"example":{"name":"string","customerType":"Personal","address":{"addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateCustomerDto"},"example":{"name":"string","customerType":"Personal","address":{"addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateCustomerDto"},"example":{"name":"string","customerType":"Personal","address":{"addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Subaccounts":{"get":{"tags":["Subaccounts"],"summary":"/Subaccounts - GET","description":"Get a list of subaccounts for the given account","operationId":"get-subaccounts","parameters":[{"name":"name","in":"query","description":"Optional name fragment to filter subaccounts by","schema":{"type":"string"}},{"name":"ParentAccountId","in":"query","description":"The ID (UUID) of the parent account","schema":{"type":"string","format":"uuid"}},{"name":"tag","in":"query","description":"Optional tag names to filter subaccounts by. A subaccount must have every listed tag to match (AND semantics).\r\nRepeat the query parameter to supply multiple values, e.g. `?tag=Umbrella_Corp&tag=John_Doe`.","schema":{"type":"array","items":{"type":"string"}}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.SubaccountDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.SubaccountDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","parentAccountId":"string","name":"string","description":"string","externalReferenceId":"string","customerId":"string","accountNumber":"string","isFrozenByPartner":true,"partnerFrozenAt":"string","isFrozenByBank":true,"bankFrozenAt":"string","isFrozen":true,"balanceMode":"Reserved","status":"Active","tags":[{"id":"string","name":"string","description":"string"}]}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.SubaccountDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","parentAccountId":"string","name":"string","description":"string","externalReferenceId":"string","customerId":"string","accountNumber":"string","isFrozenByPartner":true,"partnerFrozenAt":"string","isFrozenByBank":true,"bankFrozenAt":"string","isFrozen":true,"balanceMode":"Reserved","status":"Active","tags":[{"id":"string","name":"string","description":"string"}]}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"post":{"tags":["Subaccounts"],"summary":"/Subaccounts - POST","description":"Creates a new subaccount under the given account","operationId":"post-subaccounts","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"0d2e93df-0013-4301-b335-aeb0be7aa0aa"}],"requestBody":{"description":"The subaccount to create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateSubaccountDto"},"example":{"name":"string","description":"string","externalReferenceId":"string","customerId":"string","parentAccountId":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateSubaccountDto"},"example":{"name":"string","description":"string","externalReferenceId":"string","customerId":"string","parentAccountId":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateSubaccountDto"},"example":{"name":"string","description":"string","externalReferenceId":"string","customerId":"string","parentAccountId":"string"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Customers/{id}":{"get":{"tags":["Customers"],"summary":"/Customers/{id} - GET","description":"Get a customer by id","operationId":"get-customers-id","parameters":[{"name":"id","in":"path","description":"The id of the customer to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CustomerDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CustomerDto"},"example":{"id":"string","name":"string","customerType":"Personal","address":{"id":"string","addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CustomerDto"},"example":{"id":"string","name":"string","customerType":"Personal","address":{"id":"string","addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"put":{"tags":["Customers"],"summary":"/Customers/{id} - PUT","description":"Updates an existing customer","operationId":"put-customers-id","parameters":[{"name":"id","in":"path","description":"The id of the customer to update","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The updated details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateCustomerDto"},"example":{"name":"string","customerType":"Personal","address":{"addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateCustomerDto"},"example":{"name":"string","customerType":"Personal","address":{"addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateCustomerDto"},"example":{"name":"string","customerType":"Personal","address":{"addressLine1":"string","addressLine2":"string","city":"string","state":"string","postalCode":"string","countryCode":"string"}}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"delete":{"tags":["Customers"],"summary":"/Customers/{id} - DELETE","description":"Deletes an existing customer","operationId":"delete-customers-id","parameters":[{"name":"id","in":"path","description":"The id of the customer to delete","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/reference-data":{"get":{"tags":["ReferenceData"],"summary":"/reference-data - GET","description":"Returns accounts related codes and definitions","operationId":"get-reference-data","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.ReferenceDataDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.ReferenceDataDto"},"example":{"balanceModes":["string"],"customerTypes":["string"],"accountControlTypes":["string"],"accountStates":["string"],"transactionRails":["string"],"subaccountStatuses":["string"]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.ReferenceDataDto"},"example":{"balanceModes":["string"],"customerTypes":["string"],"accountControlTypes":["string"],"accountStates":["string"],"transactionRails":["string"],"subaccountStatuses":["string"]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Subaccounts/{id}":{"get":{"tags":["Subaccounts"],"summary":"/Subaccounts/{id} - GET","description":"Get a subaccount by id","operationId":"get-subaccounts-id","parameters":[{"name":"id","in":"path","description":"The id of the subaccount to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.SubaccountDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.SubaccountDto"},"example":{"id":"string","parentAccountId":"string","name":"string","description":"string","externalReferenceId":"string","customerId":"string","accountNumber":"string","isFrozenByPartner":true,"partnerFrozenAt":"string","isFrozenByBank":true,"bankFrozenAt":"string","isFrozen":true,"balanceMode":"Reserved","status":"Active","tags":[{"id":"string","name":"string","description":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.SubaccountDto"},"example":{"id":"string","parentAccountId":"string","name":"string","description":"string","externalReferenceId":"string","customerId":"string","accountNumber":"string","isFrozenByPartner":true,"partnerFrozenAt":"string","isFrozenByBank":true,"bankFrozenAt":"string","isFrozen":true,"balanceMode":"Reserved","status":"Active","tags":[{"id":"string","name":"string","description":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"put":{"tags":["Subaccounts"],"summary":"/Subaccounts/{id} - PUT","description":"Updates an existing subaccount","operationId":"put-subaccounts-id","parameters":[{"name":"id","in":"path","description":"The id of the subaccount to update","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The updated details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateSubaccountDto"},"example":{"description":"string","externalReferenceId":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateSubaccountDto"},"example":{"description":"string","externalReferenceId":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateSubaccountDto"},"example":{"description":"string","externalReferenceId":"string"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"delete":{"tags":["Subaccounts"],"summary":"/Subaccounts/{id} - DELETE","description":"Closes an existing subaccount","operationId":"delete-subaccounts-id","parameters":[{"name":"id","in":"path","description":"The id of the subaccount to close","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Subaccounts/{id}/freeze":{"post":{"tags":["Subaccounts"],"summary":"/Subaccounts/{id}/freeze - POST","description":"Freezes an existing subaccount","operationId":"post-subaccounts-id-freeze","parameters":[{"name":"id","in":"path","description":"The id of the subaccount to freeze","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"6e8011af-46f3-449e-bf1e-eb7e06757364"}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Subaccounts/{id}/unfreeze":{"post":{"tags":["Subaccounts"],"summary":"/Subaccounts/{id}/unfreeze - POST","description":"Unfreezes an existing subaccount","operationId":"post-subaccounts-id-unfreeze","parameters":[{"name":"id","in":"path","description":"The id of the subaccount to unfreeze","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"a9a9ff17-c65c-418e-a540-8789a581899e"}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Subaccounts/{id}/tags/{tagId}":{"post":{"tags":["Subaccounts"],"summary":"/Subaccounts/{id}/tags/{tagId} - POST","description":"Attaches a tag to an existing subaccount","operationId":"post-subaccounts-id-tags-tagid","parameters":[{"name":"id","in":"path","description":"The id of the subaccount to tag","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"tagId","in":"path","description":"The id of the tag to attach","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"251049d1-ee95-4d04-a92a-ea48f24ee3aa"}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"delete":{"tags":["Subaccounts"],"summary":"/Subaccounts/{id}/tags/{tagId} - DELETE","description":"Detaches a tag from an existing subaccount","operationId":"delete-subaccounts-id-tags-tagid","parameters":[{"name":"id","in":"path","description":"The id of the subaccount to untag","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"tagId","in":"path","description":"The id of the tag to detach","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Tags":{"get":{"tags":["Tags"],"summary":"/Tags - GET","description":"Get a list of tags for the caller's partner","operationId":"get-tags","parameters":[{"name":"name","in":"query","description":"Optional name fragment to filter tags by","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.TagDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.TagDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","name":"string","description":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Accounts.WebApi.Dto.TagDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","name":"string","description":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"post":{"tags":["Tags"],"summary":"/Tags - POST","description":"Creates a new tag","operationId":"post-tags","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"2e4d3fe7-7d35-48c9-9aef-4bbdafa04ec3"}],"requestBody":{"description":"The tag to create","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateTagDto"},"example":{"name":"string","description":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateTagDto"},"example":{"name":"string","description":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateTagDto"},"example":{"name":"string","description":"string"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/Tags/{id}":{"get":{"tags":["Tags"],"summary":"/Tags/{id} - GET","description":"Get a tag by id","operationId":"get-tags-id","parameters":[{"name":"id","in":"path","description":"The id of the tag to retrieve","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.TagDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.TagDto"},"example":{"id":"string","name":"string","description":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.TagDto"},"example":{"id":"string","name":"string","description":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"put":{"tags":["Tags"],"summary":"/Tags/{id} - PUT","description":"Updates an existing tag","operationId":"put-tags-id","parameters":[{"name":"id","in":"path","description":"The id of the tag to update","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"description":"The updated details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateTagDto"},"example":{"name":"string","description":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateTagDto"},"example":{"name":"string","description":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.UpdateTagDto"},"example":{"name":"string","description":"string"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"delete":{"tags":["Tags"],"summary":"/Tags/{id} - DELETE","description":"Deletes an existing tag","operationId":"delete-tags-id","parameters":[{"name":"id","in":"path","description":"The id of the tag to delete","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}}},"components":{"schemas":{"Cubi.Accounts.Common.Enums.AccountControlType":{"enum":["Single","Dual"],"type":"string"},"Cubi.Accounts.Contracts.Commands.TransactionCore.TransactionRail":{"enum":["BookTransfer","Wire","Ach","Rtp","FedNow","InterestPayment"],"type":"string"},"Cubi.Accounts.Contracts.Messages.BalanceMode":{"enum":["Reserved","Shared"],"type":"string"},"Cubi.Accounts.Contracts.Messages.CustomerType":{"enum":["Personal","Business"],"type":"string"},"Cubi.Accounts.Contracts.Messages.SubaccountStatus":{"enum":["Active","Closed"],"type":"string"},"Cubi.Accounts.WebApi.Dto.AccountDto":{"required":["accountNumber","name"],"type":"object","properties":{"id":{"type":"string","description":"The ID (uuid) of the account.  Should be used, instead of account number, when accessing resources in GET urls","format":"uuid"},"name":{"type":"string","description":"The name of the account"},"accountNumber":{"type":"string","description":"The account number.  This is considered PII and should be protected"},"isSearchable":{"type":"boolean","description":"Indicates if the account is searchable by other partners for address book linking"},"isFrozen":{"type":"boolean","description":"Indicates if the account is frozen or not"},"controlType":{"$ref":"#/components/schemas/Cubi.Accounts.Common.Enums.AccountControlType"},"availableBalance":{"type":"number","description":"Amount available, which is typically total balance minus holds","format":"double"},"balance":{"type":"number","description":"Total balance, before holds","format":"double"},"additionalBalances":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.AdditionalBalancesDto"},"balanceMode":{"$ref":"#/components/schemas/Cubi.Accounts.Contracts.Messages.BalanceMode"}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.AccountState":{"enum":["Closed","Active","Restricted"],"type":"string"},"Cubi.Accounts.WebApi.Dto.AdditionalBalancesDto":{"type":"object","properties":{"relatedAvailableBalance":{"type":"number","description":"The total available balance of related accounts","format":"double"},"totalAccessibleBalance":{"type":"number","description":"The total accessible balance, which is calculated as available balance + related available balance","format":"double"}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.AddressDto":{"type":"object","properties":{"id":{"type":"string","description":"The ID (UUID) for the customer","format":"uuid"},"addressLine1":{"type":"string","description":"Street or address line 1","nullable":true},"addressLine2":{"type":"string","description":"Street or address line 2","nullable":true},"city":{"type":"string","description":"City","nullable":true},"state":{"type":"string","description":"State or Province","nullable":true},"postalCode":{"type":"string","description":"Postal Code","nullable":true},"countryCode":{"type":"string","description":"Country Code","nullable":true}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.CreateAddressDto":{"required":["addressLine1","city","countryCode"],"type":"object","properties":{"addressLine1":{"maxLength":35,"minLength":1,"type":"string","description":"Street or address line 1"},"addressLine2":{"maxLength":35,"minLength":0,"type":"string","description":"Street or address line 2","nullable":true},"city":{"maxLength":35,"minLength":1,"type":"string","description":"City"},"state":{"maxLength":35,"minLength":0,"type":"string","description":"State or Province","nullable":true},"postalCode":{"maxLength":10,"minLength":0,"type":"string","description":"Postal Code","nullable":true},"countryCode":{"maxLength":2,"minLength":2,"type":"string","description":"Country Code"}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.CreateCustomerDto":{"required":["address","customerType","name"],"type":"object","properties":{"name":{"maxLength":255,"minLength":0,"type":"string","description":"The name of the customer"},"customerType":{"$ref":"#/components/schemas/Cubi.Accounts.Contracts.Messages.CustomerType"},"address":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.CreateAddressDto"}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.CreateSubaccountDto":{"required":["name","parentAccountId"],"type":"object","properties":{"name":{"maxLength":100,"minLength":1,"type":"string","description":"The name of the subaccount"},"description":{"maxLength":255,"minLength":0,"type":"string","description":"Optional description of the subaccount","nullable":true},"externalReferenceId":{"maxLength":50,"minLength":0,"type":"string","description":"The external reference id, linking the subaccount back to your system","nullable":true},"customerId":{"type":"string","description":"The customer this subaccount belongs to, if any","format":"uuid","nullable":true},"parentAccountId":{"type":"string","description":"The Id (UUID) of the parent account","format":"uuid"}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.CreateTagDto":{"required":["name"],"type":"object","properties":{"name":{"maxLength":100,"minLength":0,"type":"string","description":"The name of the tag"},"description":{"maxLength":255,"minLength":0,"type":"string","description":"Optional description of the tag","nullable":true}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.CustomerDto":{"type":"object","properties":{"id":{"type":"string","description":"The ID (UUID) for the customer","format":"uuid"},"name":{"type":"string","description":"The name of the customer","nullable":true},"customerType":{"$ref":"#/components/schemas/Cubi.Accounts.Contracts.Messages.CustomerType"},"address":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.AddressDto"}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.GetAccountDto":{"required":["ibsAccountNumber","name"],"type":"object","properties":{"id":{"type":"string","description":"The ID (uuid) of the account.  Should be used, instead of account number, when accessing resources in GET urls","format":"uuid"},"ibsAccountNumber":{"type":"string","description":"The account number.  This is considered PII and should be protected"},"name":{"type":"string","description":"The name of the account"},"searchable":{"type":"boolean","description":"Indicates if the account is searchable by other partners for address book linking"},"controlType":{"$ref":"#/components/schemas/Cubi.Accounts.Common.Enums.AccountControlType"},"modifiedAt":{"type":"string","description":"Last modified timestamp","format":"date-time"},"createdAt":{"type":"string","description":"Created timestamp","format":"date-time"},"partnerId":{"type":"string","description":"The ID of the partner who owns the account","format":"uuid","deprecated":true},"version":{"type":"string","description":"Obsolete","format":"byte","nullable":true,"deprecated":true},"isFrozen":{"type":"boolean","description":"Indicates if the account is frozen"},"isDeleted":{"type":"boolean","description":"Obsolete","deprecated":true},"availableBalance":{"type":"number","description":"Amount available, which is typically total balance minus holds","format":"double"},"balance":{"type":"number","description":"Total balance, before holds","format":"double"},"state":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.AccountState"},"additionalBalances":{"$ref":"#/components/schemas/Cubi.Accounts.WebApi.Dto.AdditionalBalancesDto"}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.InterestPaymentDto":{"type":"object","properties":{"amount":{"type":"number","format":"double"},"description":{"type":"string","nullable":true}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.ReferenceDataDto":{"type":"object","properties":{"balanceModes":{"type":"array","items":{"type":"string"},"description":"Allowed values for Cubi.Accounts.WebApi.Dto.SubaccountDto.BalanceMode."},"customerTypes":{"type":"array","items":{"type":"string"},"description":"Allowed values for Cubi.Accounts.WebApi.Dto.CustomerDto.CustomerType."},"accountControlTypes":{"type":"array","items":{"type":"string"},"description":"Allowed values for Cubi.Accounts.WebApi.Dto.AccountDto.ControlType."},"accountStates":{"type":"array","items":{"type":"string"},"description":"Possible values for Cubi.Accounts.WebApi.Dto.GetAccountDto.State."},"transactionRails":{"type":"array","items":{"type":"string"},"description":"Possible values for Cubi.Accounts.WebApi.Dto.TransactionDto.Rail."},"subaccountStatuses":{"type":"array","items":{"type":"string"},"description":"Possible values for Cubi.Accounts.WebApi.Dto.SubaccountDto.Status."}},"additionalProperties":false},"Cubi.Accounts.WebApi.Dto.SubaccountDto":{"required":["accountNumber"],"type":"object","properties":{"id":{"type":"string","description":"The ID (UUID) for the subaccount","format":"uuid"},"parentAccountId":{"type":"string","description":"The parent account id","format":"uuid"},"name":{"type":"string","description":"The name of the subaccount","nullable":true},"description":{"type":"string","description":"Optional description of the subaccount","nullable":true},"externalRef
[...]
