{"openapi":"3.0.1","info":{"title":"Transfers","version":"v1"},"servers":[{"url":"https://cubi-sandbox-api.customersbank.com/transfers/v1"}],"paths":{"/AccountAccess/{accountId}/enabled":{"get":{"tags":["AccountAccess"],"summary":"/AccountAccess/{accountId}/enabled - GET","operationId":"get-accountaccess-accountid-enabled","parameters":[{"name":"accountId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"},"example":{"accountId":"string","accountName":"string","accountNumberLast4Digits":"string","isTransfersEnabled":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"},"example":{"accountId":"string","accountName":"string","accountNumberLast4Digits":"string","isTransfersEnabled":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AccountAccess/enabled":{"get":{"tags":["AccountAccess"],"summary":"/AccountAccess/enabled - GET","operationId":"get-accountaccess-enabled","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"}},"example":[{"accountId":"string","accountName":"string","accountNumberLast4Digits":"string","isTransfersEnabled":true}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"}},"example":[{"accountId":"string","accountName":"string","accountNumberLast4Digits":"string","isTransfersEnabled":true}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AccountEntitlements":{"get":{"tags":["AccountEntitlements"],"summary":"/AccountEntitlements - GET","operationId":"get-accountentitlements","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AccountEntitlements.AccountEntitlementDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AccountEntitlements.AccountEntitlementDto"}},"example":[{"accountId":"string","entitlement":"None"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AccountEntitlements.AccountEntitlementDto"}},"example":[{"accountId":"string","entitlement":"None"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AccountEntitlements/{userId}":{"get":{"tags":["AccountEntitlements"],"summary":"/AccountEntitlements/{userId} - GET","operationId":"get-accountentitlements-userid","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AccountEntitlements.AccountEntitlementDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AccountEntitlements.AccountEntitlementDto"}},"example":[{"accountId":"string","entitlement":"None"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AccountEntitlements.AccountEntitlementDto"}},"example":[{"accountId":"string","entitlement":"None"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"put":{"tags":["AccountEntitlements"],"summary":"/AccountEntitlements/{userId} - PUT","operationId":"put-accountentitlements-userid","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AccountEntitlements.AccountEntitlementsDto"},"example":{"entitlements":[{"accountId":"string","entitlement":"None"}],"showApi":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AccountEntitlements.AccountEntitlementsDto"},"example":{"entitlements":[{"accountId":"string","entitlement":"None"}],"showApi":true}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AccountEntitlements.AccountEntitlementsDto"},"example":{"entitlements":[{"accountId":"string","entitlement":"None"}],"showApi":true}}}},"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/entries":{"post":{"tags":["AddressBook"],"summary":"/AddressBook/entries - POST","operationId":"post-addressbook-entries","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"671f4b1e-b1e8-4147-9971-14e0d4ba335a"}],"requestBody":{"description":"AddressBook entry payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.RequestAddressBookEntryDto"},"example":{"requesterAccountId":"string","targetAccountId":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.RequestAddressBookEntryDto"},"example":{"requesterAccountId":"string","targetAccountId":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.RequestAddressBookEntryDto"},"example":{"requesterAccountId":"string","targetAccountId":"string"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"get":{"tags":["AddressBook"],"summary":"/AddressBook/entries - GET","operationId":"get-addressbook-entries","parameters":[{"name":"partnerName","in":"query","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/entries/{id}/approve":{"post":{"tags":["AddressBook"],"summary":"/AddressBook/entries/{id}/approve - POST","operationId":"post-addressbook-entries-id-approve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"9498d5c9-83c0-45bd-a7dd-29b486a761d4"}],"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/entries/{id}/decline":{"post":{"tags":["AddressBook"],"summary":"/AddressBook/entries/{id}/decline - POST","operationId":"post-addressbook-entries-id-decline","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"0acdd9dd-a3c0-4e1f-9694-e4a8fa44d442"}],"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/entries/{id}/cancel":{"post":{"tags":["AddressBook"],"summary":"/AddressBook/entries/{id}/cancel - POST","operationId":"post-addressbook-entries-id-cancel","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"cb13a779-2ccb-44ba-8251-ae52e1df9e6c"}],"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/entries/{id}":{"get":{"tags":["AddressBook"],"summary":"/AddressBook/entries/{id} - GET","operationId":"get-addressbook-entries-id","parameters":[{"name":"id","in":"path","description":"The id of the address book entry to be retrieved","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"example":{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"example":{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"delete":{"tags":["AddressBook"],"summary":"/AddressBook/entries/{id} - DELETE","operationId":"delete-addressbook-entries-id","parameters":[{"name":"id","in":"path","description":"The id of the address book entry to be removed","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/entries/requests":{"get":{"tags":["AddressBook"],"summary":"/AddressBook/entries/requests - GET","operationId":"get-addressbook-entries-requests","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/requests":{"get":{"tags":["AddressBook"],"summary":"/AddressBook/requests - GET","operationId":"get-addressbook-requests","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AccountLinkRequestDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AccountLinkRequestDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","requestedAt":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AccountLinkRequestDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","requestedAt":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/requests/{id}/approve":{"post":{"tags":["AddressBook"],"summary":"/AddressBook/requests/{id}/approve - POST","operationId":"post-addressbook-requests-id-approve","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"17dde094-8b09-4dc6-8836-4ce482404b44"}],"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/requests/{id}/decline":{"post":{"tags":["AddressBook"],"summary":"/AddressBook/requests/{id}/decline - POST","operationId":"post-addressbook-requests-id-decline","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"8a4761e8-b4d8-4337-be6f-07dab142d694"}],"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/":{"post":{"tags":["BookTransfers"],"summary":"/ - POST","operationId":"post","parameters":[{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"d13e5a3f-2ddb-40b7-88b0-b3b0901aa76e"}],"requestBody":{"description":"Transfer initiation payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.InitiateBookTransferDto"},"example":{"fromAccountId":"string","toAccountId":"string","amount":0,"internalMemo":"string","publicMemo":"string","coreMemo":"string","purposeCode":"string","purposeDescription":"string","processDate":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.InitiateBookTransferDto"},"example":{"fromAccountId":"string","toAccountId":"string","amount":0,"internalMemo":"string","publicMemo":"string","coreMemo":"string","purposeCode":"string","purposeDescription":"string","processDate":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.InitiateBookTransferDto"},"example":{"fromAccountId":"string","toAccountId":"string","amount":0,"internalMemo":"string","publicMemo":"string","coreMemo":"string","purposeCode":"string","purposeDescription":"string","processDate":"string"}}}},"responses":{"202":{"description":"id","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"get":{"tags":["BookTransfers"],"summary":"/?id={id} - GET","operationId":"get-id-id","parameters":[{"name":"id","in":"query","description":"The account id to search transactions for","required":true,"schema":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"example":"00000000-0000-0000-0000-000000000000"},{"name":"fromDate","in":"query","description":"Optional start date from which to search","schema":{"type":"string","format":"date-time","example":"1980-01-01T12:00:00+00:00"},"example":"1980-01-01T12:00:00+00:00"},{"name":"toDate","in":"query","description":"Optional end date for which to search","schema":{"type":"string","format":"date-time","example":"1980-01-02T12:00:00+00:00"},"example":"1980-01-02T12:00:00+00:00"},{"name":"inStatus","in":"query","description":"Optional list of transfer statuses to filter on","schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferStatus"}}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"00000000-0000-0000-0000-000000000000","accountId":"00000000-0000-0000-0000-000000000000","accountName":"string","counterParty":"string","counterPartyAccountId":"00000000-0000-0000-0000-000000000000","counterPartyAccountName":"string","sendingPartner":"string","sendingAccount":"string","sendingAccountNumberLast4Digits":"string","receivingPartner":"string","receivingAccount":"string","receivingAccountNumberLast4Digits":"string","amount":0,"transactionType":"Send","internalMemo":"string","publicMemo":"string","coreMemo":"string","purposeCode":"string","purposeDescription":"string","processDate":"string","status":"ApprovalRequired","declineReason":"string","initiatingUserId":"string","initiatingUserName":"string","initiatingUserEmail":"string","approvalUserId":"string","approvalUserName":"string","approvalUserEmail":"string","approvedAt":"string","completedAt":"string","sourceType":"Api","createdAt":"string","lastModifiedAt":"string","confirmationNumber":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"00000000-0000-0000-0000-000000000000","accountId":"00000000-0000-0000-0000-000000000000","accountName":"string","counterParty":"string","counterPartyAccountId":"00000000-0000-0000-0000-000000000000","counterPartyAccountName":"string","sendingPartner":"string","sendingAccount":"string","sendingAccountNumberLast4Digits":"string","receivingPartner":"string","receivingAccount":"string","receivingAccountNumberLast4Digits":"string","amount":0,"transactionType":"Send","internalMemo":"string","publicMemo":"string","coreMemo":"string","purposeCode":"string","purposeDescription":"string","processDate":"string","status":"ApprovalRequired","declineReason":"string","initiatingUserId":"string","initiatingUserName":"string","initiatingUserEmail":"string","approvalUserId":"string","approvalUserName":"string","approvalUserEmail":"string","approvedAt":"string","completedAt":"string","sourceType":"Api","createdAt":"string","lastModifiedAt":"string","confirmationNumber":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/{id}":{"get":{"tags":["BookTransfers"],"summary":"/{id} - GET","operationId":"get-id","parameters":[{"name":"id","in":"path","description":"The id of the book transfer","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferDto"},"example":{"id":"00000000-0000-0000-0000-000000000000","accountId":"00000000-0000-0000-0000-000000000000","accountName":"string","counterParty":"string","counterPartyAccountId":"00000000-0000-0000-0000-000000000000","counterPartyAccountName":"string","sendingPartner":"string","sendingAccount":"string","sendingAccountNumberLast4Digits":"string","receivingPartner":"string","receivingAccount":"string","receivingAccountNumberLast4Digits":"string","amount":0,"transactionType":"Send","internalMemo":"string","publicMemo":"string","coreMemo":"string","purposeCode":"string","purposeDescription":"string","processDate":"string","status":"ApprovalRequired","declineReason":"string","initiatingUserId":"string","initiatingUserName":"string","initiatingUserEmail":"string","approvalUserId":"string","approvalUserName":"string","approvalUserEmail":"string","approvedAt":"string","completedAt":"string","sourceType":"Api","createdAt":"string","lastModifiedAt":"string","confirmationNumber":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferDto"},"example":{"id":"00000000-0000-0000-0000-000000000000","accountId":"00000000-0000-0000-0000-000000000000","accountName":"string","counterParty":"string","counterPartyAccountId":"00000000-0000-0000-0000-000000000000","counterPartyAccountName":"string","sendingPartner":"string","sendingAccount":"string","sendingAccountNumberLast4Digits":"string","receivingPartner":"string","receivingAccount":"string","receivingAccountNumberLast4Digits":"string","amount":0,"transactionType":"Send","internalMemo":"string","publicMemo":"string","coreMemo":"string","purposeCode":"string","purposeDescription":"string","processDate":"string","status":"ApprovalRequired","declineReason":"string","initiatingUserId":"string","initiatingUserName":"string","initiatingUserEmail":"string","approvalUserId":"string","approvalUserName":"string","approvalUserEmail":"string","approvedAt":"string","completedAt":"string","sourceType":"Api","createdAt":"string","lastModifiedAt":"string","confirmationNumber":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/{id}/approve":{"post":{"tags":["BookTransfers"],"summary":"/{id}/approve - POST","operationId":"post-id-approve","parameters":[{"name":"id","in":"path","description":"The id of the book transfer entry to be approved","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"6eb4cec4-4a1d-45a9-ae58-3196bd1049f8"}],"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/{id}/decline":{"post":{"tags":["BookTransfers"],"summary":"/{id}/decline - POST","operationId":"post-id-decline","parameters":[{"name":"id","in":"path","description":"The id of the book transfer entry to be declined","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"x-idempotency-key","in":"header","description":"Unique request idenitfier for idempotency.","required":true,"schema":{"type":"string","format":"uuid"},"example":"e04a5f1f-9c51-4778-8e50-df20f9d5412e"}],"requestBody":{"description":"Contains IdempotencyKey","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.DeclineBookTransferDto"},"example":{"reason":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.DeclineBookTransferDto"},"example":{"reason":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.DeclineBookTransferDto"},"example":{"reason":"string"}}}},"responses":{"202":{"description":"Accepted","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.WebApi.Mediatr.Validation.IdentifierContainer_System.Guid"},"example":{"id":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AccountAccess":{"get":{"tags":["AccountAccess"],"summary":"/AccountAccess - GET","operationId":"get-accountaccess","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"},"example":{"accountId":"string","accountName":"string","accountNumberLast4Digits":"string","isTransfersEnabled":true}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"},"example":{"accountId":"string","accountName":"string","accountNumberLast4Digits":"string","isTransfersEnabled":true}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AccountAccess/enabled/download":{"get":{"tags":["AccountAccess"],"summary":"/AccountAccess/enabled/download - GET","operationId":"get-accountaccess-enabled-download","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"}},"example":[{"accountId":"string","accountName":"string","accountNumberLast4Digits":"string","isTransfersEnabled":true}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.Accounts.AccountAccessDto"}},"example":[{"accountId":"string","accountName":"string","accountNumberLast4Digits":"string","isTransfersEnabled":true}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/entries/download":{"get":{"tags":["AddressBook"],"summary":"/AddressBook/entries/download - GET","operationId":"get-addressbook-entries-download","parameters":[{"name":"partnerName","in":"query","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"}},"example":[{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"}},"example":[{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/entries/requests/download":{"get":{"tags":["AddressBook"],"summary":"/AddressBook/entries/requests/download - GET","operationId":"get-addressbook-entries-requests-download","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AddressBookDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"id":"string","requesterPartnerId":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","requestedByUserId":"string","requestedByUserName":"string","requestedByUserEmail":"string","requestedAt":"string","requestApprovedByUserName":"string","requestApprovedByUserEmail":"string","requestApprovedAt":"string","targetPartnerId":"string","targetPartnerName":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","accountLinkApprovedByUserName":"string","accountLinkApprovedByUserEmail":"string","accountLinkApprovedAt":"string","status":"Initiated","lastModifiedAt":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/availableAccounts":{"get":{"tags":["AddressBook"],"summary":"/AddressBook/availableAccounts?partnerName={partnerName} - GET","operationId":"get-addressbook-availableaccounts-partnername-partnername","parameters":[{"name":"partnerName","in":"query","required":true,"schema":{"type":"string"}},{"name":"excludeAccountId","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AvailableAccountDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AvailableAccountDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"accountId":"string","partnerId":"string","accountNumberLast4Digits":"string","accountName":"string","partnerName":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Common.Abstractions.Paginated_Cubi.Transfers.WebApi.Dto.AddressBook.AvailableAccountDto"},"example":{"pageSize":0,"pageOffset":0,"totalPages":0,"totalItemCount":0,"items":[{"accountId":"string","partnerId":"string","accountNumberLast4Digits":"string","accountName":"string","partnerName":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/availableAccounts/download":{"get":{"tags":["AddressBook"],"summary":"/AddressBook/availableAccounts/download?partnerName={partnerName} - GET","operationId":"get-addressbook-availableaccounts-download-partnername-partnername","parameters":[{"name":"partnerName","in":"query","required":true,"schema":{"type":"string"}},{"name":"excludeAccountId","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AvailableAccountDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AvailableAccountDto"}},"example":[{"accountId":"string","partnerId":"string","accountNumberLast4Digits":"string","accountName":"string","partnerName":"string"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AvailableAccountDto"}},"example":[{"accountId":"string","partnerId":"string","accountNumberLast4Digits":"string","accountName":"string","partnerName":"string"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/requests/download":{"get":{"tags":["AddressBook"],"summary":"/AddressBook/requests/download - GET","operationId":"get-addressbook-requests-download","parameters":[{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AccountLinkRequestDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AccountLinkRequestDto"}},"example":[{"id":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","requestedAt":"string"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AccountLinkRequestDto"}},"example":[{"id":"string","requesterPartnerName":"string","requesterAccountId":"string","requesterAccountName":"string","requesterAccountNumberLast4Digits":"string","targetAccountId":"string","targetAccountName":"string","targetAccountNumberLast4Digits":"string","requestedAt":"string"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/purposeCodes":{"get":{"tags":["BookTransfers"],"summary":"/purposeCodes - GET","operationId":"get-purposecodes","responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.PurposeCodesDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.PurposeCodesDto"},"example":{"purposeCodes":[{"purpose":"string","code":"string","description":"string"}]}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.PurposeCodesDto"},"example":{"purposeCodes":[{"purpose":"string","code":"string","description":"string"}]}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/download":{"get":{"tags":["BookTransfers"],"summary":"/download?id={id} - GET","operationId":"get-download-id-id","parameters":[{"name":"id","in":"query","description":"The account id to search transactions for","required":true,"schema":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"example":"00000000-0000-0000-0000-000000000000"},{"name":"fromDate","in":"query","description":"Optional start date from which to search","schema":{"type":"string","format":"date-time","example":"1980-01-01T12:00:00+00:00"},"example":"1980-01-01T12:00:00+00:00"},{"name":"toDate","in":"query","description":"Optional end date for which to search","schema":{"type":"string","format":"date-time","example":"1980-01-02T12:00:00+00:00"},"example":"1980-01-02T12:00:00+00:00"},{"name":"inStatus","in":"query","description":"Optional list of transfer statuses to filter on","schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferStatus"}}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"sortOn","in":"query","schema":{"type":"string"}},{"name":"sortAscending","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferDto"}},"examples":{"default":{"value":null}}},"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferDto"}},"example":[{"id":"00000000-0000-0000-0000-000000000000","accountId":"00000000-0000-0000-0000-000000000000","accountName":"string","counterParty":"string","counterPartyAccountId":"00000000-0000-0000-0000-000000000000","counterPartyAccountName":"string","sendingPartner":"string","sendingAccount":"string","sendingAccountNumberLast4Digits":"string","receivingPartner":"string","receivingAccount":"string","receivingAccountNumberLast4Digits":"string","amount":0,"transactionType":"Send","internalMemo":"string","publicMemo":"string","coreMemo":"string","purposeCode":"string","purposeDescription":"string","processDate":"string","status":"ApprovalRequired","declineReason":"string","initiatingUserId":"string","initiatingUserName":"string","initiatingUserEmail":"string","approvalUserId":"string","approvalUserName":"string","approvalUserEmail":"string","approvedAt":"string","completedAt":"string","sourceType":"Api","createdAt":"string","lastModifiedAt":"string","confirmationNumber":"string"}]},"text/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferDto"}},"example":[{"id":"00000000-0000-0000-0000-000000000000","accountId":"00000000-0000-0000-0000-000000000000","accountName":"string","counterParty":"string","counterPartyAccountId":"00000000-0000-0000-0000-000000000000","counterPartyAccountName":"string","sendingPartner":"string","sendingAccount":"string","sendingAccountNumberLast4Digits":"string","receivingPartner":"string","receivingAccount":"string","receivingAccountNumberLast4Digits":"string","amount":0,"transactionType":"Send","internalMemo":"string","publicMemo":"string","coreMemo":"string","purposeCode":"string","purposeDescription":"string","processDate":"string","status":"ApprovalRequired","declineReason":"string","initiatingUserId":"string","initiatingUserName":"string","initiatingUserEmail":"string","approvalUserId":"string","approvalUserName":"string","approvalUserEmail":"string","approvedAt":"string","completedAt":"string","sourceType":"Api","createdAt":"string","lastModifiedAt":"string","confirmationNumber":"string"}]}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/AddressBook/accountlinksettings/{id}":{"get":{"tags":["AddressBook"],"summary":"/AddressBook/accountlinksettings/{id} - GET","operationId":"get-addressbook-accountlinksettings-id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"text/plain":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AccountLinkSettingsDto"},"examples":{"default":{"value":null}}},"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AccountLinkSettingsDto"},"example":{"accountLinkId":"string","partnerId":"string","defaultPublicMemo":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.AccountLinkSettingsDto"},"example":{"accountLinkId":"string","partnerId":"string","defaultPublicMemo":"string"}}}},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}},"put":{"tags":["AddressBook"],"summary":"/AddressBook/accountlinksettings/{id} - PUT","operationId":"put-addressbook-accountlinksettings-id","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.UpdateAccountLinkSettingsDto"},"example":{"defaultPublicMemo":"string"}},"text/json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.UpdateAccountLinkSettingsDto"},"example":{"defaultPublicMemo":"string"}},"application/*+json":{"schema":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.AddressBook.UpdateAccountLinkSettingsDto"},"example":{"defaultPublicMemo":"string"}}}},"responses":{"202":{"description":"Accepted"},"400":{"description":"BadRequest","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.1","title":"One or more validation errors occurred.","status":400,"traceId":"string"}}}},"401":{"description":"Unauthorized","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.2","title":"Unauthorized","status":401,"traceId":"string"}}}},"403":{"description":"Forbidden","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.4","title":"Forbidden","status":403,"traceId":"string"}}}},"404":{"description":"NotFound","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.5.5","title":"Not Found","status":404,"traceId":"string"}}}},"422":{"description":"UnprocessableEntity","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ValidationProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc4918#section-11.2","title":"Unprocessable Entity","status":422,"traceId":"string"}}}},"500":{"description":"InternalServerError","content":{"application/problem+json":{"schema":{"$ref":"#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails"},"example":{"type":"https://tools.ietf.org/html/rfc9110#section-15.6.1","title":"An error occurred while processing your request.","status":500,"traceId":"string"}}}}}}},"/search":{"get":{"tags":["BookTransferSearch"],"summary":"/search?id={id} - GET","operationId":"get-search-id-id","parameters":[{"name":"id","in":"query","description":"The account id to search transactions for","required":true,"schema":{"type":"string","format":"uuid","example":"00000000-0000-0000-0000-000000000000"},"example":"00000000-0000-0000-0000-000000000000"},{"name":"fromDate","in":"query","description":"Optional start date from which to search","schema":{"type":"string","format":"date-time","example":"1980-01-01T12:00:00+00:00"},"example":"1980-01-01T12:00:00+00:00"},{"name":"toDate","in":"query","description":"Optional end date for which to search","schema":{"type":"string","format":"date-time","example":"1980-01-02T12:00:00+00:00"},"example":"1980-01-02T12:00:00+00:00"},{"name":"inStatus","in":"query","description":"Optional list of transfer statuses to filter on","schema":{"type":"array","items":{"$ref":"#/components/schemas/Cubi.Transfers.WebApi.Dto.BookTransfers.BookTransferStatus"}}},{"name":"searchText","in":"query","description":"The counterparty name, amount or status for which to search","schema":{"type":"string"}},{"name":"paginateResults","in":"query","schema":{"type":"boolean"}},{"name":"page","in":"query","schema":{"type":"integer","format":"int32"}},{"name":"perPage","i
[...]
